[2016-11-21 06:51] mysticTot opened #1 "Linux File Operations and Command line Interface"
Aim:      To demonstrate  Linux File Operations and Command line Interface
Level:    Beginner

[2016-11-24 08:52] shivan1b opened #2 "Local Security Principles"
Best practices and tools to make a Linux system as secure as possible.
* Linux security
* Usage of root account
* Important of sudo, Process isolation, etc
* Password mechanism
* Securing boot process

Level: Basic

[2016-11-26 16:05] mfrw opened #3 "So is vim/emacs [in]efficient ?"
A light hearted talk on the capabilities of text editors, and about the age old flame war about **vi and emacs**.
Its planned as an interactive talk to explore the hidden power of the seemingly incapable _[no offense]_ , text editors that have been around for more than 35 years.

Agenda
- Survival Skills in command line editors.
- Getting help and learning how to start.
- Installing extra packages

[2016-12-12 11:52] manpreetsnehra opened #4 "Networking - Basics - 1"
Parts involved in networking
1. Host
2. Routing
3. Firewalling
4. VPN
5. Security
6. Troubleshooting

[2016-12-13 05:37] #1 closed

[2016-12-13 05:37] #2 closed

[2016-12-13 05:37] #3 closed

[2016-12-13 05:47] shivan1b opened #5 "nftables - The legendary packet classification framework (Filler talk)"
nftables is a replacement to the {ip, ip6, eb, arp}tables for it is faster, more compact and any changes are easy to plug and install as compared to iptables.
nftables is still under construction and has got good number of contributors in making it a success.

This talk will cover the basics of nftables, the need for replacement of iptables and making the translation from iptables to nftables if y

[2016-12-18 05:06] #4 closed

[2016-12-18 17:52] manpreetsnehra opened #6 "Networking basics 2 - Root Structures"

[2016-12-21 17:08] manpreetsnehra commented on #6
Root structures
Linux fs
Dns
Ldap

[2016-12-23 18:51] ntavish opened #7 "Using nginx/lua for building things"
Openresty bundle nginx+lua
fast prototyping, fast
not just an http server

[2017-01-31 23:57] #5 closed

[2017-01-31 23:57] #6 closed

[2017-01-31 23:57] #7 closed

[2017-02-09 18:53] nakulpapreja opened #8 "Talk on ethical hacking"
Why hackers prefer linux ?
Yipes
Information gathering using google dorks

[2017-02-09 19:08] mysticTot commented on #8
please add description about your talk
like what you'd be talking about
Prerequisites etc

[2017-02-09 19:08] nakulpapreja opened #9 "Why hackers love linux?"
In this i will tell u about why hackers a.k.a you can also say penetration testers use linux .The benefits of linux in hacking world.Also how it is more secure than windows.

[2017-02-09 19:29] #9 closed

[2017-02-14 16:37] sourabhtk37 opened #10 "Searching your soulmate in linux"
**Abstract**
This talk provides an introduction to various cmd-line search tools that are present in linux.
Talk comprises of tools like find,grep that comes with the system itself and also introduces tools like ack,ag(silver searcher) and how they fare against each other.

**Expected duration**
15 min

**Intended audience**
Beginners-intermediate

**Pre-requisite**
Should be single and know how t

[2017-02-14 17:14] Warlord77 opened #11 "Creating your own file sharing server"

[2017-02-16 06:53] shakti4ranjan opened #12 "BigML API with Python"
Abstract
This talk provides an introduction to working with Machine Learning Algos with BigML ease using Pyhon with its API.

Expected duration
15 min

Intended audience
Beginners-intermediate

Pre-requisite
Just open to learn and enjoy.

[2017-02-16 06:56] shakti4ranjan commented on #12
Abstract
This talk provides an introduction to working with Machine Learning Algos with BigML ease using Pyhon with its API.

Expected duration
15 min

Intended audience
Beginners-intermediate

Pre-requisite
Just open to learn and enjoy.

[2017-02-19 07:47] sourabhtk37 commented on #10
Slides for my talk:
http://slides.com/tksourabh/searching-your-soul-mate-in-linux/

[2017-02-26 18:15] cocoa1231 opened #13 "Suggestion: An introduction to the Portage Package Management System"
**Abstract**
Speaker talks about what Gentoo and Portage are, what the USE flag is, some of it's origins, and how the tree system works.
Some live demos should also be there. And then some common tricks to fix portage when it breaks.

**Expected Duration**
20-30 Minutes

**Intended Audience**
Intermediate-Advanced

**Prerequisite**
Should know what PMSs are, and how to use some of the common ones

[2017-03-27 18:03] sourabhtk37 commented on #13
I suppose this is request for a talk, right?

[2017-03-27 18:04] cocoa1231 commented on #13
Yes it is

[2017-03-27 18:14] sourabhtk37 commented on #11
Hey @Warlord77 can you add description for your talk, also it would be useful if you provide useful links related to your talk.

[2017-03-27 18:14] sourabhtk37 commented on #8
Can you provide the slides to your talk @nakulpapreja ?

[2017-03-28 10:06] #10 closed

[2017-03-28 10:08] sourabhtk37 commented on #12
Can you share links to slides/code?

[2017-05-01 17:39] mfrw opened #14 "Hands on Docker"
I am planning to give a talk on docker, I have several ideas regarding the same:
1. A black belt talk about docker and a small container runtime is written in go. (mini docker)
2. Just the basics of docker, why where etc etc

Please suggest what would benefit us most.
Cheers

[2017-05-01 18:22] sourabhtk37 commented on #14
Does this talk includes:
1. Internals
2. Various components and how they play together
3. Hands-on

[2017-05-01 19:29] #8 closed

[2017-05-01 20:10] cocoa1231 opened #15 "Introduction to Arch Linux"
**Abstract**
I will start off by explaining what Arch is, it's philosophy, and why you'd ever want to go even within 100 meters of it. Then I'll quickly go through an installation in a Vbox, explore pacman, introduce the AUR, create a pkgbuild live, and then talk about AUR helpers. Finally, a quick 5 minute vanity section, where I just set up a GUI

**Expected Duration**
20-30 Minutes

**Track**
T

[2017-05-02 16:18] akash-47 opened #16 "Linux processes."
This talk will be about linux processes.
The topics covered will be roughly the same as detailed in reference below.

reference : http://tldp.org/LDP/intro-linux/html/chap_04.html

[2017-05-03 02:11] #11 closed

[2017-05-03 02:46] flyharrycopter opened #17 "Filters, Sed & Awk"
**Abstract**
Speaker talks about what filters are, explains sed and awk use and internal operations, and finally how to write your own sed & awk scripts. Adopts hands on practical approach to demonstrate how to effectively use these powerful tools.

**Expected Duration**
30 Minutes

**Intended Audience**
Intermediate

**Prerequisite**
Regular Expressions

[2017-05-03 03:24] flyharrycopter commented on #12
Move this topic under Python, instead of ILUGD/Linux?

[2017-05-03 10:13] sourabhtk37 commented on #12
Hey @shakti4ranjan
Could you please move your talk [here](https://github.com/pydelhi/talks/issues)?

[2017-05-03 10:14] sourabhtk37 commented on #17
Can we finalise this talk for the next meetup @flyharrycopter ?

[2017-05-04 01:02] flyharrycopter commented on #17
Yes, final.

[2017-05-04 02:57] akash-47 commented on #15
Are you sure about the expected duration ?

[2017-05-04 15:43] sourabhtk37 commented on #16
Can we finalise this talk for the next meetup? @akash-47

[2017-05-12 17:17] #15 closed

[2017-05-12 17:18] #17 closed

[2017-06-28 01:02] ajnsit opened #19 "Haskell 101"
**Abstract**
	Haskell 101 - Absolute beginners introduction to Haskell.

**Expected Duration**
    1 Hr

**Track**
   	Beginner

**Pre-requisite**
   	Some programming experience with any language

**Resources**
    [Learn You A Haskell](http://learnyouahaskell.com/chapters) might be a good place to learn Haskell. However I would not be using this in the talk itself.

**Slides**
    None yet.

[2017-06-28 09:22] cocoa1231 opened #20 "Linux From Scratch part 1"
**Abstract**
This session will contain an introduction to the concept of Linux from scratch, along with covering everything till chapter 4 or 5

**Expected Duration**
37.5 ± 7.5 minutes

**Track**
Between Beginner and Intermediate

**Pre-requisite**
You shouldn't need any pre requisites apart from knowing what Linux is and the GNU philosophy

**Resources**
We'll be covering the LFS book, and the c

[2017-06-28 17:13] sourabhtk37 commented on #19
Thanks for the proposal @ajnsit

[2017-06-30 19:11] mysticTot opened #21 "Nftables vs Iptables : Why you should use nftables over iptables?"
**Abstract**
	Nftables is new packet classification firewalling software. It replaces the popular {ip,ip6,arp,eb}tables.
The agenda of this talk would be to compare iptables and nftables and discussion on nftables benchmarks
**Expected Duration**
1 hour

**Track**
      - Intermediate

**Pre-requisite**
   one should be Familiar with basic networking.

**Resources**
wiki.nftables.org
https://devel

[2017-07-03 10:01] #19 closed

[2017-07-03 10:02] sourabhtk37 commented on #20
Thanks for the great talk @cocoa1231
hoping to see the hands-on sessions and further chapters.
Closing this issue.

[2017-07-03 10:02] #20 closed

[2017-07-03 10:03] sourabhtk37 commented on #16
Great talk @akash-47 . I really enjoyed the talk. :tada:
Closing this issue.

[2017-07-03 10:03] #16 closed

[2017-07-03 10:04] sourabhtk37 commented on #12
I am not seeing any response from the speaker and therefore closing the issue.

[2017-07-03 10:04] #12 closed

[2017-07-03 10:05] sourabhtk37 commented on #21
Can we see hands-on working demo in the next meet-up? @mysticTot

[2017-07-03 10:39] ajnsit commented on #19
I just uploaded the slides here! - https://speakerdeck.com/ajnsit/haskell-101

[2017-07-03 11:31] mysticTot commented on #21
Sure
But,  it won't be official.

[2017-07-03 12:31] sourabhtk37 commented on #21
Why won't it be officially, we didn't get to see the demo due to kernal compatibilty.

[2017-07-12 04:18] ajnsit opened #23 "Haskell Absolute Beginner's Tutorial Series - 1"
**Abstract**
	This is part 1 of an absolute beginner's tutorial series for Haskell / Functional Programming. This part will be a hands-on deep dive into computing using pure functions and abstraction.

**Expected Duration**
    1 Hour

**Track**
   	Beginner

**Pre-requisite**
   	Some programming experience in any language (not necessarily functional). It would help, but it's not a prerequisite,

[2017-07-18 13:06] rajudev opened #24 "Debian 9 Stretch Release Party"
**Abstract**
A party to celebrate the release of our beloved operating system Debian.
Lets celebrate the arrival of Debian 9 Stretch.

**Description**
        Debian [9.0](https://www.debian.org/News/2017/20170617) was released on June 17th, 2017
It took over 26 months for the transition from Debian 8.0 Jessie to to get to Stretch.
To celebrate this release a lot of Debian release [parties](https:

[2017-07-26 06:01] rajudev commented on #23
This one is for the upcoming meetup on  Saturda, 29 July. Right?

[2017-07-27 12:22] sourabhtk37 opened #25 "How command line parameters are parsed"
**Abstract**
	This talks will be about a particular abstraction as to how command line parameters while executing a program passed from the shell to the program.

**Expected Duration**
    20-30min

**Track**
Beginner

**Pre-requisite**
   	None.

**Resources**
   https://blog.stangroome.com/2014/11/09/command-line-parsing-in-windows-and-linux/
   http://daviddeley.com/autohotkey/parameters/parame

[2017-07-30 11:23] mysticTot commented on #25
Please share the slides of your talk

[2017-07-30 11:27] mysticTot commented on #24
Please add a link to your slides

[2017-07-30 11:31] sourabhtk37 commented on #25
Already did. Also made a PR to be added to talks-log.

[2017-07-30 11:37] mysticTot commented on #25
Thanks Tk.

[2017-07-30 18:45] sourabhtk37 commented on #21
Will we see this talk's hands-on session on next meetup?

[2017-08-03 07:56] ghost opened #31 "man 7 signal"
**Abstract**
   This would be a short runthrough on linux signals

**Expected Duration**
    30 mins

**Resources**
  http://man7.org/linux/man-pages/man7/signal.7.html

[2017-08-05 10:33] akash-47 commented on #25
Talk has been delivered. Closing the issue.

[2017-08-05 10:33] #25 closed

[2017-08-05 10:33] akash-47 commented on #24
Closing this as the talk has been delivered.

[2017-08-05 10:33] #24 closed

[2017-08-06 18:01] lbsrex opened #32 "Hands-on Arduino and a peek at Raspberry Pi"
**Abstract**
	A Hands-on workshop on Arduino, and talk on Introduction to Raspberry Pi.
    Arduino:
        1. Do the 'duino
        2. Working with LED
        3. Working with Servo Motors
        4. Working with Motor Drivers and PWM
        5. Working with Serial
        6. Mini Project : Serial Text to Morse on LED.
    Raspberry Pi:
        1. WTF is a RaspberryPi
        2. How do I get thi

[2017-08-07 13:10] Manas-kashyap opened #33 "Intro to FOSS and sharing my experience with FOSS"
It will be a short and beginners level intro to Foss and will share my experience with FOSS , and how i became more comfortable with it .
My slides will be just a over view, i would like to interact with newbie's .

Link to my slides
https://github.com/Manas-kashyap/INTRO-TO-FOSS-

[2017-08-07 14:40] rajudev commented on #32
Should we expect people to bring Arduino's or raspberry Pi's of there own if they can?

[2017-08-07 21:04] lbsrex commented on #32
Yes, that would most certainly be a good idea.

_Sent from my Motorola MotoG3-TE using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-08 16:50] beyondszine opened #34 "problems with ToR"
**Abstract**
The talk will cover the main problems faced by ToR network.  Probably I will be taking on 3-4 problems and try to address the issues and shortcomings of those.

**Expected Duration**
One hour

**Track**
        - Intermediate

**Pre-requisite**
        - Computer Networks  and protocols like TCP/UDP

Pre-requisites
        - Tor & ToR Faqs

**Slides**
I am making those.  Let me know i

[2017-08-10 06:41] beyondszine commented on #34
@sourabhtk37 any update on this ?

[2017-08-10 14:42] sourabhtk37 commented on #34
Thanks for the proposal. Please share resources required for this talk. If slides are prepared please share them too.
Questions:
- Is there a hands-on session?
    - If not, will you require 60 minutes or 30 minutes will do?
Please share the topics so we could properly allocate time for the talk.

[2017-08-10 16:06] cocoa1231 commented on #34
Excited for this one!

[2017-08-10 17:23] sourabhtk37 commented on #33
Can we finalise this talk for our next meetup on 12th of August?

[2017-08-10 17:24] beyondszine commented on #34
@sourabhtk37 I haven't prepared slides yet.  Will do by tomorrow.  Its no hands on session.  Its all hardcore networking and protocols understanding.  30 minutes might do if audience consists of sysadmins and networking professionals otherwise I will have to cover the basics of ToR also and that will take 1 hour.

[2017-08-10 17:26] sourabhtk37 commented on #34
Alright. Thanks for the update. Can we finalise this talk for our next meetup on 13th of August (Sunday)?

[2017-08-10 17:28] sourabhtk37 commented on #32
Can we finalise this talk for our next meetup(13th August, Sunday)?

[2017-08-10 17:28] Manas-kashyap commented on #33
Yes sure,

On 10-Aug-2017 10:53 PM, "T K Sourabh" <notifications@github.com> wrote:

[2017-08-10 17:30] beyondszine commented on #34
@sourabhtk37 yeah done! You all are most welcome at our workplace Innov8 CP.

[2017-08-10 17:31] rajudev commented on #32
@sourabhtk37 finalise this talk

[2017-08-10 17:32] rajudev commented on #34
Cool, @sourabhtk37 lets get this in schedule.

[2017-08-10 19:17] rajudev opened #35 "Building and utilizing a Network of Single Board Computer's (Raspberry Pi's and alikes)"
**Abstract**
This would be hands on guided workshop, one of a kind in which everyone present at the meetup will be involved.
  We will divide the number of people present at the meetup in group's of 4-6 people each. This group will perform the following tasks in group.

**1.** Each group will have a Raspberry Pi or any other SBC available to them. There task as a group is to setup there SBC with a

[2017-08-10 19:19] lbsrex commented on #35
Cool.

[2017-08-10 19:25] rajudev commented on #35
धन्यवाद @sourabhtk37

[2017-08-11 06:39] bhanuvrat commented on #33
@Manas-kashyap
instead of uploading pdf / odp files to github, try using http://lab.hakim.se/reveal-js/#/

you might like it.

[2017-08-11 06:40] bhanuvrat commented on #33
also, avoid leaving your phone number on the sildes.
might not feel like a big deal today, but ...

[2017-08-13 15:50] aurabindo commented on #34
@beyondszine Thanks for the great talk! ;)

[2017-08-13 15:53] aurabindo commented on #35
@rajudev It was really good to have an interactive session!  Next time, I think we should have a page for the event. That way, we can indicate if we'd like the users to bring something, like Arduino or an SBC

[2017-08-13 17:22] sourabhtk37 commented on #32
@lbsrex Thanks for the great workshop :100:
Please share the slides and any accompanying code for this workshop so we could add it to the talks log. :)

[2017-08-13 17:25] sourabhtk37 commented on #35
We do have a meetup page for the meetup https://www.meetup.com/ILUGDelhi/

[2017-08-13 17:25] sourabhtk37 commented on #35
Awesome workshop @rajudev
Please share any accompanying code/slides for today's workshop to be added to the talks log.

[2017-08-13 17:49] sourabhtk37 commented on #34
Very engaging talk. I thoroughly enjoyed a lots of TIL. @beyondszine
Please share any slides/resources accompanying for adding to talks log :)

[2017-08-13 19:19] sourabhtk37 commented on #21
Can I close this issue as the talk is delivered? Can you create another issue when you want to give hands-on session on netfilters?

[2017-08-13 21:43] mysticTot commented on #34
@beyondszine Could you please add slides of your talk.

[2017-08-14 04:37] rajudev commented on #35
The workshop was co-ordinated and became possible because of all of all of us. Since there was no slides and stuff. I'll add the resource links for the tasks that we asked people to do.

[2017-08-14 04:38] rajudev commented on #35
one more request @sourabhtk37 If we can add a date to each issue about when the particular Talk/Workshop happened.

[2017-08-14 09:15] sourabhtk37 commented on #35
That will be added to the talks log, since this issue will be closed.

[2017-08-14 10:09] mysticTot commented on #21
No slides. I'm closing it

[2017-08-14 10:10] #21 closed

[2017-08-15 06:00] manasb commented on #34
I would like to see the slides too. I just got to New Delhi late on Monday night or I would have attended the talk as well! :)

If there's interest, I can put something together for a future talk on I2P.

Looking forward to attending a meeting :D

Manas

[2017-08-15 10:36] sourabhtk37 commented on #34
@manasb Sure, create an issue on this repository and people will review it.

Join https://www.meetup.com/ILUGDelhi/ if you haven't yet. :)

[2017-08-15 10:53] rajudev commented on #34
@manasb If you are adding an issue on I2P, just a request from my side. Keep the full form of I2P in the title of your talk instead/along with the abbreviation. 'Invisible Internet Project' would draw more interest than 'I2P'

[2017-08-15 12:14] beyondszine commented on #34
thanks all for the appreciation.
I don't know if ppt could be of any use, majority of the interesting things are happen during conversations ;), still the link for the ppt,
https://www.dropbox.com/s/8v1mfofbzjv2qt4/Problems%20with%20ToR.pptm?dl=0

[2017-08-16 01:31] manasb commented on #34
[Problems with ToR.pdf](https://github.com/ILUGD/talks/files/1226821/Problems.with.ToR.pdf)

Hi, I had some difficulties viewing the .pptm file in LibreOffice. I've tried to generate a .pdf version for anyone else who may be using LibreOffice.

[2017-08-16 07:16] rajudev commented on #34
@beyondszine Thanks for adding the presentation. Just a request to use pdf or an open document format so that people who are using LibreOffice, openOffice etc. should not have any problems viewing it. Thanks

[2017-08-16 07:42] beyondszine commented on #34
@rajudev yeah that would be great, I forgot to do that.  i myself use libreOffice though, but I thought people like MS office more so made it in that again and uploaded that. Anyway, will take care of it for pdf version

[2017-08-16 08:45] rajudev commented on #34
@beyondszine People do like MS Office including me. But you and I and us are ILUG-D . If not us who will pitch in for use of open document formats.

[2017-08-18 05:42] mysticTot commented on #32
@lbsrex will please provide slides of your talk?

[2017-08-18 06:11] mysticTot commented on #34
@rajudev I think we should mention this in guidelines.

[2017-08-18 07:00] manasb commented on #33
@bhanuvrat
https://github.com/ILUGD/talks/issues/33#issuecomment-321740988

That is nice but would not be available offline, PDF files can be saved for offline viewing and sharing.

[2017-08-18 07:03] manasb commented on #33
@Manas-kashyap

I looked through your slides, it seems like a really nice talk!
It's great that there are people like yourself advocating for FOSS.

Thanks :D

[2017-08-19 04:11] sourabhtk37 commented on #34
Closing this as complete.

[2017-08-19 04:11] #34 closed

[2017-08-19 04:11] sourabhtk37 commented on #33
Closing this as complete.

[2017-08-19 04:11] #33 closed

[2017-08-19 04:12] sourabhtk37 commented on #32
Closing this as complete.

[2017-08-19 04:12] #32 closed

[2017-08-19 04:20] sourabhtk37 commented on #35
@rajudev Please update any resources for your talk in the talks-log section. Closing this.

[2017-08-19 04:20] #35 closed

[2017-08-20 10:15] manasb commented on #13
This would be an interesting talk!

[2017-08-20 10:24] manasb commented on #31
I like this idea. It could be extended to cover other important linux/unix tools like sed/awk/grep.

[2017-08-20 10:58] sourabhtk37 commented on #31
Thanks for the feedback. Sed/awk/grep have already been covered in previous meetup. If you want to see some specific talk in next meetup you can suggest by creating an issue, someone might pick it up. :)

[2017-08-20 15:26] ShubhamTatvamasi opened #37 "Suggestion: Elementary OS"
Elementary OS
How to host your own website on Raspberry Pi with dynamic IP.

[2017-08-20 17:52] sourabhtk37 commented on #37
@ShubhamTatvamasi Thanks for the proposal, but please add detailed description of the talk proposal so that people can review and suggest content more suited to them.

[2017-08-20 21:10] GypsyCosmonaut opened #38 "Discussion on ncurses"
Can someone give  a talk on ncurses, curses, pcurses ?

[2017-08-21 02:39] manasb commented on #31
@sourabhtk37 Hmm, which talk would that be? I took a quick look through https://github.com/ILUGD/talks/blob/master/talks-log/2017.md and didn't notice it.

:)

[2017-08-21 02:49] manasb opened #39 "I2P: The Invisible Internet Project - An Anonymous Overlay Network"
# Draft. Will be updated with more information

**Abstract**
The Invisible Internet Project (I2P) is a garlic routing using overlay network and darknet that allows applications to send messages to each other pseudonymously and securely. Uses include anonymous Web surfing, chatting, blogging and file transfers. The software that implements this layer is called an I2P router and a computer running I

[2017-08-21 08:11] adhokshajmishra opened #40 "Playing with ptrace for fun and profit"
**Abstract**
	The talk will focus on a single syscall (ptrace), and its usage in daily life of a developer and/or security fellow. Ptrace allows one to trace any process, stop it at desired points, read memory, write into process memory, inject code etc (basically, complete control). The talk will start from bare basics, and will proceed to how to control a process from a self coded teeny-tiny deb

[2017-08-21 11:54] sourabhtk37 commented on #40
Thanks for the proposal @adhokshajmishra
I was working on something similar to this, would be very interesting.
- Will we see some hands-on work for this talk?

[2017-08-21 11:57] sourabhtk37 commented on #39
Thanks for the proposal @manasb
It would be wonderful as we saw from interest in last meetup that questions/discussion to be added as part of the talk. This would engage the audience quite well and will ensure that whatever being talked about is useful to the audience. Sounds good?

[2017-08-21 12:07] sourabhtk37 commented on #31
Some talks are missing from the logs, maybe you could help us find the missing ones by looking at past meetup schedule in either mailing list/meet-up page/social media  and send a PR, after all it's a volunteered effort. :)

Yes, sure. In any community," whoever suggests should volunteer for the same". I encourage you to take the initiative so that there is more interests for the same.

[2017-08-21 12:09] sourabhtk37 commented on #38
Would you want this to be more of a workshop or an introduction to curses API?

[2017-08-21 14:52] adhokshajmishra commented on #40
Yes. It will be part theory, part hands-on. Even better if attendees can follow it in parallel on their boxes.

[2017-08-22 18:48] ntavish opened #41 "understanding makefiles"
**Abstract**
What makefiles are, and how to write them to do things.

**Expected Duration**
30 minutes

**Track**
    	- Beginner

**Resources**
make manpage etc.

[2017-08-22 19:00] sourabhtk37 commented on #41
Thanks for the proposal @ntavish
Will there be hands-on session for creating a makefile for a codebase?

[2017-08-24 18:53] rajudev commented on #37
@sourabhtk37 Can we get a new label for talk suggestions?

[2017-08-24 18:54] rajudev commented on #37
got it added the label.

[2017-08-24 19:13] rajudev opened #42 "How decentralized communications and Infrastructure work?"
**Abstract**
	Decentralization has always been the way in which services that used to be offered to people, be it e-mail, or p2p file sharing with torrents. But with time services got concentrated in the hands of the few like Google/Facebook/Microsoft to name a few. Services from being de-centralized earlier, got concentrated in the hands of a few corporations. To such a level. that sometimes that

[2017-08-24 19:55] sourabhtk37 commented on #39
Hey @manasb Would you be available on 26th August meet? If yes, can we finalise this talk for the meet on 26th of August?

[2017-08-24 19:57] sourabhtk37 commented on #40
Namaskar mishraji, Will you be available on 26th August and be able to give this talk? Let me know

[2017-08-24 20:33] sourabhtk37 commented on #41
@ntavish Can we finalise this talk for the next meetup?

[2017-08-25 05:01] adhokshajmishra commented on #40
Unfortunately, no. How about next meetup?

[2017-08-25 07:17] sourabhtk37 commented on #40
Alright. Next meetup? Done.
Hope to see you soon.

[2017-08-25 09:30] sourabhtk37 commented on #39
Hey @manasb could you please update your availability and how to get in touch with you?

[2017-08-28 15:23] GypsyCosmonaut commented on #38
Sorry, just saw the notification after days, a workshop would be awesome..

[2017-09-02 17:17] sourabhtk37 commented on #39
@manasb I don't see any response from your side, could you please update me regarding this talk?

[2017-09-02 17:29] sourabhtk37 commented on #40
It's time for the next meetup :tada:
Can I see this talk in the next meetup (coming saturday that is) ? @adhokshajmishra

[2017-09-02 17:39] sourabhtk37 commented on #42
Finalise for next meetup? @rajudev

[2017-09-03 06:45] manasb commented on #39
Hi @sourabhtk37 sorry for the delay in responses. I have been trying to recover from jet lag and a subsequent cold. I am feeling better now!

I plan on spending time figuring out what should go into this talk over the next two weeks.
I'll be chatting with I2P/i2pd/kovri devs and getting their input as well.

I will be out of the country from later this month until November, I think it's best to ai

[2017-09-07 08:17] rajudev commented on #42
@sourabhtk37 nope. We are having SFD. I don't think I'll be able to takeout time for this at the SFD meet.

[2017-09-10 04:54] Manas-kashyap opened #43 "A competition on Designing through open source softwares like krita , inkspace ."
It will be a competition of Designing a poster or any pic to something great.

**Expected Duration**
30-45 min

**Track**
As it's a competition so, we don't know the level they will compete at.

**Pre-requisite**
   	Laptop with pre-installed any open-source designing platform like Krita, inkspace or any else.

[2017-09-16 02:33] rajudev commented on #43
Please include more detailed description on the issue.
What exactly do you want to do?
What exactly is the competition and stuff.

[2017-09-16 02:37] rajudev commented on #41
not sure if it is relevant. @ntavish The most simple explanation of Makefile is what I have found here
https://git.fosscommunity.in/praveen/hello
May or may not come of use to you. Just posting it here

[2017-09-16 04:09] Manas-kashyap commented on #43
It will be a competition for those who already know and for beginner , it will be a group task and we will help them out to do it .
exactly thier task will be , to make a poster for any event , we will name it and let the creativitiy flow

[2017-09-16 17:16] sourabhtk37 commented on #43
Please add details to the top-post itself. Put in a very clear, descriptive manner and not in vague terms.

[2017-09-20 08:21] ShubhamTatvamasi opened #44 "Linux Install Fest"
**Abstract**

When linux was new and many people didn't knew how to use linux or even install linux on their machines, at that time LLUG (Linux Local User Group) used to do **Install Fest** every month. At the Install Fest they invite all the people who are new to linux and didn't knew how to install linux or have installed linux but were facing some issues with installing proper drivers or softwa

[2017-09-23 20:13] vipulgupta2048 opened #45 "Introduction to Git"
**Abstract**
This talk would be about Version Control System, Git, GitHub and Git workflow. Git is used for projects to make them more stable, organized and secure increasing both efficiency and productivity. This talk would be completely hands-on. Theoretical topics will be not discussed, therefore it is advised to check resources. The attendees would get to learn the basics of how to fork and cl

[2017-09-27 17:56] cocoa1231 opened #46 "How the Linux Desktop is Built"
**Abstract**
Windows and Mac have an opaque and monolithic User Interface, whereas Linux is more modular. This often leads to a shit ton of confusion for new Linux users on exactly what a DE, DM, X.org, or anything is. This can be cleared up pretty quickly (I think) if we show people how to build their own Desktop Envs from scratch. Stuff that should be covered in chronological order:

* Xorg
* Wi

[2017-09-27 18:06] rajudev opened #47 "Schedule for Meetup at Bhagwan Parshuram Institute of Technology, Delhi"
#Meetup Date: Sunday 8th October 2017

Expected availablity of Venue:
9am - 5pm

Time of meetup:
10 am to 5pm

Food:
Sourabh: will discuss with college for sponsoring/reimbursement

 10:00 - 10:25     Introduction to Open source and Linux #55

 10:30 - 11:30     Installation Demo (How to install linux) #48

 11:30 - 11:40     Networking break

 11:40 - 12:40     Applications and GUI Overview

[2017-09-27 18:11] cocoa1231 opened #48 "Installation Demo (How to install linux)"
**Abstract**
An installation of a Linux distro (probably mint or a flavor of Ubuntu) will be performed live and each step explained to set the stage for the install fest

**Expected Duration**
1 Hour

**Track**
Beginner

**Pre-requisite**
None. mostly.

**Resources**
Download [Ubuntu](https://www.ubuntu.com/download/desktop) or [Linux Mint](https://linuxmint.com/download.php):

**Slides**
Pretty s

[2017-09-27 18:15] cocoa1231 opened #49 "Applications and GUI Overview"
**Abstract**
This talk/session will briefly cover how the Linux GUI is structured. It will touch upon the concept of a Login Manager, a Desktop Environment and a Window Manager

**Expected Duration**
1 Hour

**Track**
Beginner

**Pre-requisite**
None

**Resources**
[This](https://www.youtube.com/watch?v=866-MpRATnM&list=PLTXMX1FE5Hj7JmR73CQDXkNq8OVn9_Z6F) Youtube series goes in depth into the Linu

[2017-09-27 18:16] rajudev opened #50 "Linux Install festival"
**Abstract**
A place where you can get a Linux desktop installed on your own computer.

**Expected Duration**
  1 hour or more.

**Track**

**Pre-requisite**
   	none

[2017-09-27 18:18] hellozee opened #51 "Basics to Shell"
**Abstract**
       Linux basics to get new users on their feet, covers getting started with the terminal, the Linux
       command line, and executing commands. If someone is new to Linux, he/she will want to familiarise
       himself/herself with the terminal, as it is the standard way to interact with a Linux system. Using the
       command line may seem like a daunting task but it is actuall

[2017-09-27 18:21] rajudev commented on #50
sorry @sourabhtk37 just looked issue #44

[2017-09-27 18:21] #50 closed

[2017-09-27 18:22] rajudev commented on #50
@sourabhtk37 as a standard practice every where, whenever you add a duplicate label, also tell of which issue it is duplicate of.

[2017-09-27 18:23] cocoa1231 opened #52 "Performing common tasks on linux"
**Abstract**
This session will cover how someone would perform the day-to-day tasks like browsing the internet, creating a document, connecting to wifi, etc. on a Linux system, as well as a public Q/A for anything that's not covered. Or just anything. Ask away!

**Expected Duration**
30 Minutes

**Track**
Beginner

**Pre-requisite**
I think the only thing you need to know is covered in the previou

[2017-09-27 18:26] hellozee opened #53 "Software development on linux"
**Abstract**
	An introduction to how a piece of software can be developed in linux. It primarily revolves around
        installing various IDEs (code::blocks,eclipse,netbeans) and compilers (gcc) to use them for proper
        development.

**Expected Duration**
        30 mins

**Track**
    	Beginner

**Pre-requisite**
   	Working Linux System

[2017-09-27 18:34] cocoa1231 opened #54 "Software development on linux"
**Abstract**
This one is going to show you how to install software development tools on Linux, such as IDEs (Eclipse, Android Studio, Geany, etc.) and show you how easier and more powerful it is to do it FOSS style

**Expected Duration**
30 Minutes

**Track**
Beginner

**Pre-requisite**
A working Linux system, which you will get after the install fest!

---
### Note
Please do add/upload slides in

[2017-09-27 18:39] rajudev opened #55 "Introduction to Open Source and Linux"
**Abstract**
	A brief introduction to what open source software/hardware is all about. Followed by an Introduction to Linux as an operating system

**Expected Duration**
30 minutes

**Track**
   	- Beginner

**Pre-requisite**
  none

**Resources**
will be decided in comments by everyone.
**Slides**
    Links to the slides.
if there are any, will be added later after the meetup.

[2017-09-27 18:42] cocoa1231 commented on #54
Whoops. Sorry

[2017-09-27 18:42] #54 closed

[2017-09-27 18:44] sourabhtk37 commented on #50
Yup will do. :+1:

[2017-09-27 18:45] rajudev commented on #47
Discuss any changes/additions/removals from schedule on this issue.
Discuss about the content of Individual issue on the respective issue number.

[2017-09-28 13:45] aurabindo opened #56 "Schematic Capture & PCB Layout in KiCad"
**Abstract**
The workshop will cover the CAD tool KiCad to generate design files for Printed Circuit Boards. Basic knowledge of electronics will be added advantage for the attendees. Workshop will cover:
* Schematic Capture of a circuit in Eeschema
* PCB Layout & Gerber Generation in Pcbnew

**Expected Duration**
    1.5 - 2 hours.

**Track**
        - Intermediate

**Pre-requisite**
   	Optional:

[2017-09-29 02:42] ShubhamTatvamasi commented on #47
I think we should call it "Linux Install Fest" instead of "Linux Install Festival". Because when this whole thing started in US they used to call it "Linux Install Fest". I think it looks more classy :)

[2017-09-29 20:48] rajudev commented on #47
Okay, I think that. Let's rename it to that then

[2017-09-29 20:50] rajudev commented on #47
And I guess wrong issue is added here in the list

[2017-09-29 20:51] rajudev commented on #47
Corrected the issue number for that

[2017-09-29 20:54] rajudev commented on #49
The list of GUIs that we are going to cover. Add the ones you want here..
Adding the usuals.
Gnome
KDE
Cinnamon

Compiz enabled lxde

[2017-09-29 20:55] rajudev commented on #55
We can talk collectively on this with bits from many LinuxChix or ILUG-D members

[2017-09-29 20:58] rajudev commented on #56
Thanks for the proposal Aura. Would be interesting to attend this one.

[2017-09-30 15:52] sourabhtk37 commented on #55
More like a discussion?

[2017-09-30 15:53] sourabhtk37 commented on #49
@cocoa1231 Are you sure you will built login managers, wm and a de live?

[2017-09-30 15:57] sourabhtk37 commented on #47
Just for the discussions sake, we don't do stuff just because people used to do that way back in the day.
I am of opinion that one should make the world adapts to you, no believed electric cars would be possible in production and here we are because the world doesn't know what it needs. Way back I was extremely satisfied with Nimbuzz(those days :heart: ) and SMS but now I want all those messaging

[2017-09-30 15:58] sourabhtk37 commented on #51
@amzee Would you like to take this up?

[2017-09-30 20:09] rajudev commented on #47
Change is good. But it should not always be necessary. Unless it is improvising on the previous situations.

BTW, those days :)
I used to use Nimbuzz on J2ME phone.
Do you remember mig33?

[2017-09-30 20:11] rajudev commented on #47
People used to export SMS messages to files and store them. Because they wanted to cherish the messages in them.
Now have changed so much. And so much content is available now that no one wants to save anything on phone.

[2017-10-01 05:42] amzee commented on #51
@sourabhtk37 , I don't think I am well enough for that, I can surely assist though.

[2017-10-01 07:34] sourabhtk37 commented on #51
Are you implying that you are not well, as in health-wise or experience wise. If latter then I should recommend you try taking this on as a learning experience for public speaking. I am sure it will help a lot and able to express your thought clearly and carefully. Meanwhile you will be able to dig dipper into core concepts and understand them clearly. Let me know.

[2017-10-01 07:56] amzee commented on #51
Experience wise, anyway I was also thinking of giving a talk but on a different topic on which I have done proper research and have a little experience too, like alternatives to creative suit. Up to now all I have done is copying and pasting from google, :sweat_smile:

[2017-10-01 12:59] mfrw opened #57 "Introduction to Docker"
**Abstract**
	An light-hearted introduction to docker. The Talk is divided into 3 main parts. Part I will build a base for docker. Part II will dive into docker. Part III will touch on some advanced topics.

**Expected Duration**
    90 Mins

**Track**
        - Intermediate

**Pre-requisite**
   	Laptops

**Resources**
    https://docs.docker.com

**Slides**
    https://github.com/mfrw/talks/blob

[2017-10-01 14:18] cocoa1231 commented on #49
@sourabhtk37 As long as I get a pen drive, a working internet connection, and 1 hour alone with the computer, then yes. But we won't do that in this talk, I made a separate issue for the talk that goes in that deep. This will be a surface level talk. We'll do the more in depth talk on the next to next LinuxChix or ILUG-D

[2017-10-01 16:32] rajudev commented on #55
@sourabhtk37 Yes, but mediated by one guy/girl. So we stay on track.

[2017-10-01 17:07] mysticTot commented on #57
Thanks a lot for creating issue.

[2017-10-02 03:45] adhokshajmishra commented on #40
This issue should be closed as I won't be able to deliver the proposed speech/workshop physically anymore (I have relocated to Mumbai). I am sorry for this.

[2017-10-02 03:45] #40 closed

[2017-10-02 16:41] sourabhtk37 commented on #40
Sorry to hear you go, we wish you success in your future endeavours. :heart:
Hope you get to connect with the large community in Mumbai.

[2017-10-02 18:44] sourabhtk37 commented on #47
God, you are old @rajudev

Anyways, I think we can remove Installation demo since we will be doing that anyways in `Linux Install fest` section and each distro have it's own installation steps.

[2017-10-02 20:02] rajudev commented on #47
I still think, we should keep Installation demo as it will give them the chance to think about hard disks/BIOS/File Systems/ Boot Order/Grub/ etc. otherwise we will have to explain it all to them during install fest.

[2017-10-03 09:15] adityajai007sonu commented on #47
Basic Session , Add something cool like Crytocurrency , Big Data etc etc

[2017-10-03 12:44] mfrw commented on #57
@aakash-garg-olx sure dude that is an awesome idea. The way I have structured my slides is that we first talk a little about the need for virtualization. Then a little about containers. Then we dive into docker.
I agree talking about containers should be prior to this talk, but IMHO getting a hands on docker will get the audience ample experience to start using them effectively.
If they want more

[2017-10-04 06:02] aakash-garg-olx commented on #57
@mfrw my approach to teaching Docker is to teach the audience about Linux Cgroups & Namespaces, and then Container Technology, then I would like to move to LXCs which was being used when there was no concept of Docker, after that, I would be doing hands-on on LXCs, and then I will move to Docker.
Also, I would like to give some review on the slides created by you. I like the foundation part in the

[2017-10-04 06:21] mfrw commented on #57
@aakash-garg-olx can you give me some pointers on what examples to include. I will update my slides accordingly :)

[2017-10-04 06:53] aakash-garg-olx commented on #57
@mfrw Try to setup Wordpress Site using Docker. Setup separate containers for the Wordpress site, MySQL, web server (Apache or Nginx). Connect all three together and set up the whole application. It is the good example to explain the working of the Docker.
If you want to discuss more on this let me know.

[2017-10-04 19:24] sourabhtk37 commented on #47
*Need changes in timing*
The first networking break is quite small `11:30 - 11:40` it can be increased to 20mins by reducing the time for lunch which is at `12:40 - 01:30` i,e 50mins, it can reduced to 30mins.

- Installation demo
    It is alloted 1hour but can be done in 30mins or less.
- Applications and GUI Overview
    This one is allotted 1hour but can be covered in less than that.

And is i

[2017-10-04 19:25] sourabhtk37 commented on #47
@adityajai007sonu I don't understand what exactly you are proposing. Could you add a bit more details to your suggestion. Is this for the current meetup we are having or in general. If in general, please create a suggestion by creating an issue on the issues tab and people will take it up.

[2017-10-04 19:27] sourabhtk37 commented on #53
@bhanuvrat is the allotted time enough?

[2017-10-04 19:28] sourabhtk37 commented on #52
I will be taking up this talk and moderating the Q&A.

[2017-10-04 20:06] rajudev commented on #55
It will be a collaborative talk between many people from both LinuxChix and ILUG-D together mediated by one person(probably me :)

[2017-10-04 20:07] sourabhtk37 commented on #55
Perfect.

[2017-10-04 20:10] rajudev commented on #48
Time reduced to 45 minutes. Speaker will be cocoa. Other's can pitch in when required.

[2017-10-04 20:10] sourabhtk37 commented on #48
Alright. Fair enough.

[2017-10-04 20:16] rajudev commented on #49
This session would be taken by your's truly @rajudev

[2017-10-04 20:25] rajudev commented on #51
I am excited to see @hellozee giving a talk.

[2017-10-09 05:40] sourabhtk37 commented on #55
Closing this as complete.

[2017-10-09 05:40] #55 closed

[2017-10-09 05:41] sourabhtk37 commented on #53
@vipulgupta2048 please share the docs file saved on your computer for this talk

[2017-10-09 05:41] sourabhtk37 commented on #52
Closing this as complete.

[2017-10-09 05:41] #52 closed

[2017-10-09 05:42] sourabhtk37 commented on #51
Please share the slides for this talk @hellozee

[2017-10-09 05:42] sourabhtk37 commented on #49
Closing this as complete.

[2017-10-09 05:42] #49 closed

[2017-10-09 05:42] sourabhtk37 commented on #48
Closing this as complete.

[2017-10-09 05:43] #48 closed

[2017-10-09 05:43] sourabhtk37 commented on #47
Thanks everyone for your effort. Closing this now.

[2017-10-09 05:43] #47 closed

[2017-10-09 05:44] sourabhtk37 commented on #45
Please share slides for the workshop @vipulgupta2048

[2017-10-09 05:44] sourabhtk37 commented on #44
Closing this as complete.

[2017-10-09 05:44] #44 closed

[2017-10-09 07:24] hellozee commented on #51
@sourabhtk37  I have already attached the link in the description

[2017-10-09 07:30] hellozee opened #58 "Alternatives to Adobe Creative Suite"
**Abstract**
Adobe Creative Suite is, by far, the industry champion when it comes to graphic design software. Even with its occasional technical issues present with virtually every version update, it remains to be the best package in the market. It's practically used by everyone who wants to (and actually dabbles in) graphic design. But the problem is they don't provide any Linux builds, so I will

[2017-10-09 15:44] sourabhtk37 commented on #51
Closing this then.

[2017-10-09 15:44] #51 closed

[2017-10-10 20:48] rajudev opened #59 "Coding and configuring a webApp with a remote database server under 3 hours."
**Abstract**

Attendees of our previous meetup at innov8 enjoyed the small hackathon that we did with Raspberry Pi's. This time I present to you another hackathon but with different challenges this time. Making sure that everyone gets to learn and improvise there skills this time.

Like before, I am conceptualizing the hackathon format. But it will require participation of knowledgeable ILUG-D vol

[2017-10-10 20:57] rajudev commented on #57
No mentioned `chroots` here in the discussion.

Also I would recommend that the workshops should be more hands-on than theoretical.
Only required enough concepts should be provided.
Too much detail has resulted into over lengthy dragged talks in the past. I will hope that it won't be repeated in the same manner again.
 People who are actually interested in the detail can read the documentations la

[2017-10-11 02:40] vipulgupta2048 commented on #45
I have shared the link for my slides. Would that be sufficient ?

[2017-10-11 05:05] mysticTot commented on #14
There  is an updated issue for this talk. So I'm closing this issue

[2017-10-11 05:05] #14 closed

[2017-10-11 05:06] mysticTot commented on #58
@hellozee  please add slides

[2017-10-11 05:07] rajudev commented on #57
@mfrw you already have an issue #14 with a similar title. Since this was created after that, this one is a duplicate of it. Right? Did you forgot that you already had an issue reported?

[2017-10-11 05:08] rajudev commented on #14
and I just commented about this issue there. Collision.

[2017-10-11 07:38] mfrw commented on #57
@rajudev Yes, I had forgotten about the earlier one. I thought that was closed. (my bad)
Sure I am planning to cut the slides so that we don't drag around much.

[2017-10-11 08:42] mryashbhardwaj commented on #57
@rajudev , @aakash-garg-olx , I am keen to attend this session. Since you guys are the experts in this domain, please suggest me some good theoretical/conceptual resources. So that I can come prepared and get the most from the event.

[2017-10-11 11:22] hellozee commented on #58
@mysticTot  I am thinking of giving it without slides, by showing the demos of the application I am talking about.

[2017-10-11 17:57] sourabhtk37 commented on #58
I don't see a value in this talk. Merely listing the pros and cons of some software over another is not something I would personally attend but rather a run down through one of the software and get to see how things are done in that software.
[This](http://www.techradar.com/news/software/applications/10-free-open-source-alternatives-to-adobe-creative-suite-1305714) will summarise your talk.

[2017-10-11 17:59] #45 closed

[2017-10-11 18:03] sourabhtk37 commented on #43
Closing this as no update is provided.
@Manas-kashyap You can update either by creating a new issue or requesting to reopen it when you're ready.

[2017-10-11 18:03] #43 closed

[2017-10-11 18:07] sourabhtk37 commented on #56
Images seems to be overflowing from the slides, is that expected behaviour?

[2017-10-12 12:30] hellozee commented on #58
@sourabhtk37 actually I am also feeling the same, it wont be able to cater the need of the particular audience you people are trying to reach, almost all of the persons present in audience only know/use Photoshop that also for minor tasks and wont ever use a whole creative suite leave alone other software for creative stuff. And my talk will revolve around those 'other' things rather than Photosho

[2017-10-12 12:37] sourabhtk37 commented on #58
Exactly my point.

[2017-10-12 18:03] rajudev commented on #57
@mryashbhardwaj I am no expert. I know very little. I would suggest you trying creating a `chroot` understand what it is. then you try creating an `LXC container`, and then move towards `docker` . You will find sufficient resources on them over the web. Or you can ask on resources if needed in group or here.

[2017-10-12 18:39] aurabindo commented on #56
Since the images are not any functional/block diagrams, it is not very relevant. Although I do need to fine tune the slides a bit. This is more of a demo cum talk. Second year engineering students from CS, EE, EC etc who do not have any experience using a PCB design software would find it useful.

[2017-10-12 19:38] rajudev commented on #56
@aurabindo You should also consider people like me, who are interested in electronics, but are not from the Electronics branch. And many people like me would be there. Make sure that the talk would not be Jargon fest for us.
Aside from that, how do you find fritzing compared to kicad?

[2017-10-12 19:42] rajudev commented on #42
@sourabhtk37 may be we should skip this one for next meetup as well. Lets make our next meetup more of an hands-on fest.

[2017-10-13 13:42] tucosaurus commented on #59
Where do you intend to get the required number of remote servers for this ?

[2017-10-13 14:15] rajudev commented on #59
@tucosaurus That is exactly where the fun begins. How do we get the remote servers?
No we don't use remote servers as in the out of physical area of the venue. (If someone has an EC2 instance/VPS of there own, they can use it if they want.)

 Instead we create machines locally on our systems or on a particular system in a team.
That remote system, can be a VM/LXC/Docker container.We can install th

[2017-10-14 07:12] aurabindo commented on #56
@rajudev I am not very confidant that in 2 hours all those [scary 😆 ] things can be covered.

Fritzing works good in the context of arduino. But I have not used it per se. If most of the crowd would prefer Fritizing instead, I will give it a shot and do a demo on that instead.

[2017-10-14 08:21] tucosaurus commented on #59
Okay. Please share your plan here. Also, list the things that we as organizers would need to conduct the event smoothly , like I think that we would need to set up a docker registry at the event for the images that the participants will be using since the internet might be flaky.

[2017-10-15 04:21] #58 closed

[2017-10-15 04:31] rajudev commented on #59
@tucosaurus Yeah, we can setup an offline docker registry, another easy option is an LXC container.
I have a local Debian Repository on my system already. People can pull packages for Debian/Ubuntu or many other distributions directly from the URL of my system at the venue.
So I will list a more detailed plan here soon then.

[2017-10-15 04:41] rajudev commented on #56
@aurabindo I don't mean you to shift the talk towards fritzing.
I just asked if you have used that. Since that it is the only PCB design software that I had my hands on for some time.
I got my answer.

[2017-10-15 04:50] mysticTot commented on #58
@hellozee You can deliver 5 minutes lightning talk.

[2017-10-15 05:32] hellozee commented on #58
@mysticTot nope I am writing a blog on it, @sourabhtk37 you messed up with the wrong person..

[2017-10-15 09:50] sourabhtk37 commented on #58
No trolling here please @hellozee
We would love to have a talk by you at our next ILUG-D meetup. Apologies for people taking over your talk last meetup but you should be able to take up one on your own for next meetup.
Good luck :heart:

[2017-10-15 10:53] hellozee commented on #58
@sourabhtk37  why are you dragging the talk from previous meetup?  Apologies for what? I can't understand the audience properly that's my fault.

This is going to hurt you

[2017-10-15 10:58] mysticTot commented on #58
@hellozee Please accept the decision made over your talk.
Folks here review talks for a reason. It is an organisation. Please read guidelines about how to communicate.
Further, this repo is visible to everyone.

[2017-10-15 11:12] hellozee commented on #58
@mysticTot I think you people are misunderstanding me, I have closed the talk for a reason,

I am on @sourabhtk37 for another reason.

[2017-10-15 11:20] mysticTot commented on #58
@hellozee You can contact/talk to @sourabhtk37  in person for any personal issue.
 Please don't put off topic things/comments here.

[2017-10-15 11:23] hellozee commented on #58
@mysticTot yup done that, sorry for dragging that here ✌️✋🙈😔

[2017-10-15 11:42] mysticTot commented on #58
No worries. But for the next  time remember these things. :-)

[2017-10-15 17:32] hellozee commented on #59
@rajudev a VM will be far more easier to setup than an lxc/docker container, wont be?

[2017-10-15 18:19] vipulgupta2048 commented on #53
#60 PR submitted. The .txt file I saved is in there.

[2017-10-15 19:57] rajudev commented on #59
@tucosaurus @hellozee I would put a problem statement in front of you. It would be upto you guys, on how you want to approach towards it. VM/Docker/LXC/Chroot are all just the different ways in you can do that.

on the side note: VM is easier to setup, but requires static allocation of resources of the host machine to the VM. While Docker/LXC do run as a process on the host and scale up/down as ne

[2017-10-16 08:52] satyaakam commented on #46
Be clear what you want to talk about Linux the kernel or the GNU/Linux as an operating system.The Linux kernel is Monolithic compare it with the Microkernel architectures. So overall it  depends what you want to talk about and what your understanding of what you mean an Operating system is and what you want to convey. Looks like you want to show the ease of use of changing the environments and plu

[2017-10-16 11:55] cocoa1231 commented on #46
I think I made it clear that I want to show how the Linux GUI is structured. Starting with a base arch Linux install, showing the audience how a desktop step by step comes into structure would give people a better idea of how a Linux Desktop environment is made

[2017-10-16 16:39] #53 closed

[2017-10-23 13:29] ShubhamTatvamasi opened #61 "CryptoCurrency CPU Mining on Linux (Debian/Ubuntu)"
**Abstract**

I will be guiding how you can do CryptoCurrency CPU Mining on your Debian based Linux distro, it will be a hands on demo a step by step guide for Mining CryptoCurrency.

**About**

- Creating the CryptoCurrency wallet
- Understanding the Coin's Algorithm
- Selecting the pool
- Calculating the hash rates

**Pre-requisites**

- Debian based Distro

- Basics of linux command line

**Exp

[2017-10-23 13:44] ShubhamTatvamasi commented on #61
Just not on the 28th October, because I will be at PyDelhi on that day.

[2017-10-27 14:16] amansinu commented on #59
How can I register and what is registration charge

[2017-10-27 14:24] sourabhtk37 commented on #59
@amansinu You can RSVP on the meetup page [here](https://www.meetup.com/ilugdelhi/events/242531827/) and there's no registration charges, it's free of cost.

[2017-10-28 09:40] bharatvarshney8989 commented on #59
Is there any upcoming meetup for Devops like docker, container..

[2017-10-29 09:09] sourabhtk37 commented on #59
We had one yesterday on docker but you can suggest talks by creating proposals as github issues.

[2017-10-29 09:21] sourabhtk37 commented on #57
Thanks for the lovely talk. It was very insightful. @mfrw
@aakash-garg-olx Would you like to propose a talk going a bit more deep?

[2017-10-29 14:36] bharatvarshney8989 commented on #59
Could you please again share us the all information

On 29-Oct-2017 2:39 pm, "T K Sourabh" <notifications@github.com> wrote:

[2017-10-29 17:58] sourabhtk37 commented on #59
What information do you want? Can you be a bit more specific? @bharatvarshney8989

[2017-10-31 08:30] bharatvarshney8989 commented on #59
Hello Sir,

Please share basic about Docker , i m new in docker so in future i can
prepare myself

*Thanks & Regards*
Bharat Varshney
Software Test Engineer | www.rosmertatech.com
*Certified ISTQB Professional*

 "I believe, *The More You Learn The More You Play…!"*

On Sun, Oct 29, 2017 at 11:28 PM, T K Sourabh <notifications@github.com>
wrote:

[2017-11-02 09:17] aakash-garg-olx commented on #57
@sourabhtk37 I can try, but I would like to know, what things have been completed already. So that I think of the agenda to be delivered.

[2017-11-02 14:33] sourabhtk37 commented on #57
@mfrw Pls to shed some light over this.

[2017-11-02 14:38] mysticTot commented on #57
@aakash-garg-olx , He covered basic  working of docker. You can refer slides for more details

[2017-11-02 16:54] mfrw commented on #57
@sourabhtk37 sure dude.
@aakash-garg-olx I covered the very very basics of containers. I tried to show a basic usage of docker, starting from `chroots`, then a little bit of `Jails & Zones`, some `LXC`, and then we straight away jumped to `Docker`.

I have two slides, which may give you a rough idea of what is covered. Although the second slide was not presented at ILUG-D, I covered the content ve

[2017-11-02 18:01] mfrw commented on #61
@ShubhamTatvamasi Thank you for creating the issue

[2017-11-13 09:03] Hritik14 opened #63 "Inside a router."
**Abstract**
	Exploring the linux inside of a router.

1. Scanning the network.
    We will be scanning our LAN (+ WAN) for routers connected to our network.
2. Default admin password [Security issue]
    If HTTP Port is open on one of target routers, we'll try with a list of default passwords for the particular router.
3. Open ports [Backdoors]
    We'll be scanning the routers for other open por

[2017-11-14 17:41] sourabhtk37 commented on #63
Thanks for the proposal @Hritik14
It's not entirely clear what you wanna talk about. Could you please put in more context and information regarding your talk?

[2017-11-14 18:37] Hritik14 commented on #63
@sourabhtk37  Updated

[2017-11-15 04:44] mryashbhardwaj commented on #42
can we please have this in the coming meetup

[2017-11-20 15:28] sourabhtk37 commented on #39
@manasb Status of talk? Available to give on 25th of Nov?

[2017-11-20 15:31] sourabhtk37 commented on #59
@bharatvarshney8989 Pls join us on [telegram](https://t.me/joinchat/AAAAAEAc48wCHkUXViXBcg).

[2017-11-20 15:35] sourabhtk37 commented on #56
@rajudev @lbsrex Pls to finalise this as I am no expert in this field.

[2017-11-20 15:35] sourabhtk37 commented on #56
@aurabindo What's your availability on 25th Nov?

[2017-11-20 15:38] #57 closed

[2017-11-20 15:38] #59 closed

[2017-11-20 15:38] sourabhtk37 commented on #31
Closing this as user doesn't exist.

[2017-11-20 15:38] #31 closed

[2017-11-20 15:39] sourabhtk37 commented on #37
Closing this as no update.

[2017-11-20 15:39] #37 closed

[2017-11-20 17:34] sourabhtk37 commented on #23
@ajnsit Will you be available on 25th Nov for this talk?

[2017-11-21 05:01] bharatvarshney8989 commented on #59
ok sir

*Thanks & Regards*
Bharat Varshney
Software Test Engineer | www.rosmertatech.com
*Certified ISTQB Professional*
ItsMyURLs.com/bharat567var7

 "I believe, *The More You Learn The More You Play…!"*

On Mon, Nov 20, 2017 at 9:01 PM, T K Sourabh <notifications@github.com>
wrote:

[2017-11-21 06:06] aurabindo commented on #56
@sourabhtk37 please move it some time after Jan 1st week

[2017-11-21 11:52] sourabhtk37 commented on #63
@Hritik14 Available to give the workshop on 25th Nov?

[2017-11-21 16:43] Hritik14 commented on #63
@sourabhtk37 Nope. Maybe next one ?

[2017-11-22 04:52] ajnsit commented on #23
@sourabhtk37 Not this week. I can be available in Dec.

[2017-11-22 13:24] sourabhtk37 commented on #23
Lining up your talk for 16th Dec then.

[2017-11-22 13:24] sourabhtk37 commented on #41
Lining up your talk for 16th Dec then @ntavish

[2017-11-22 13:43] mfrw opened #64 "Should I go ?"
**Abstract**
We introduce golang, and answer the question of why should we learn a new language if at all.

**Expected Duration**
  60-70 mins

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner

**Pre-requisite**
   	Just you and some of your attention.

**Resources**
blog.golang.org

**Slides**
    Not yet ready

---
### Note
Please do add/upload slides in pdf or an open

[2017-11-25 17:21] sourabhtk37 commented on #64
I was not present there for your talk but I believe it would have been great. Looking forward to many more talks from you @mfrw
Any slides accompanying your talk?

[2017-11-25 17:21] sourabhtk37 commented on #46
Great talk. Looking forward to see more talks. @cocoa1231
Any slides/scripts to add to the logs?

[2017-11-25 17:23] sourabhtk37 commented on #23
May I finalise your talk for 16th of December? @ajnsit

[2017-11-25 17:24] sourabhtk37 commented on #63
@Hritik14 Yeah, next meetup is scheduled on 16th of December. Are you available to take the workshop?

[2017-11-25 17:27] ntavish commented on #41
ok, done

[2017-11-25 17:28] sourabhtk37 commented on #41
Great.

[2017-11-25 17:33] sourabhtk37 commented on #42
If he is available then sure @mryashbhardwaj :)

[2017-11-25 20:41] mfrw commented on #64
Sure, GitHub.com/mfrw/letsgo

On Sat, Nov 25, 2017, 10:51 PM T K Sourabh <notifications@github.com> wrote:

[2017-11-26 09:54] sourabhtk37 commented on #64
Thanks. Closing this.

[2017-11-26 09:54] #64 closed

[2017-11-26 10:04] mryashbhardwaj commented on #42
@sourabhtk37    lets have it when he comes back

[2017-11-27 13:17] cocoa1231 commented on #46
[Uploading How_the_Linux_Desktop_is_built_(Script).pdf…](I just had this script)

[2017-11-27 13:17] cocoa1231 commented on #46
[How_the_Linux_Desktop_is_built_(Script).pdf](https://github.com/ILUGD/talks/files/1505926/How_the_Linux_Desktop_is_built_.Script.pdf)

[2017-12-03 08:19] sourabhtk37 opened #66 "How programs get run in Linux"
**Abstract**
	TBD

**Expected Duration**
    1hr
**Track**
        - Intermediate

**Resources**
    https://lwn.net/Articles/631631/

**Slides**
    TBD

[2017-12-07 16:32] sourabhtk37 commented on #63
@Hritik14 update?

[2017-12-07 16:33] #46 closed

[2017-12-07 16:33] sourabhtk37 commented on #23
@ajnsit update?

[2017-12-07 16:55] Hritik14 commented on #63
Accept my apologies for I've got a lot of tasks these days.
I'd love to do this but maybe after I get a bit of time to breathe.

On Thu, Dec 7, 2017 at 10:02 PM, T K Sourabh <notifications@github.com>
wrote:

--
Regards
Hritik Vijay

[2017-12-07 17:03] sourabhtk37 commented on #63
January meetup sounds good?

[2017-12-07 17:37] Hritik14 commented on #63
Sounds good but can't bet on it.

On Thu, Dec 7, 2017 at 10:33 PM, T K Sourabh <notifications@github.com>
wrote:

--
Regards
Hritik Vijay

[2017-12-07 18:51] ajnsit commented on #23
@sourabhtk37 Where and when is the meetup being held?

[2017-12-08 06:32] sourabhtk37 commented on #23
16th of December. Most probably CP.

[2017-12-12 10:48] rajudev commented on #42
I would be coming up to the next meetup, but I would prefer this to be postponed. If we would have no other talks lined up, In that case I'll consider taking up this one.

[2017-12-13 10:33] Pradhvan commented on #39
@manasb update for 16 December?

[2017-12-15 04:40] tucosaurus commented on #61
@ShubhamTatvamasi Can we put in your talk for our meetup on 16th December (which is tomorrow) ?

[2017-12-15 07:32] ShubhamTatvamasi commented on #61
Not possible for tomorrow, quite busy in Blockchain Conference.

[2017-12-17 16:42] LordArcadius opened #67 "Compiling Android Kernel for your own device"
**Abstract**
	I will be telling about Android Kernel which is based on Linux kernel. We will obviously start from basics that what it is? how it works? And other stuffs like that. I will also explain how you can compile a custom kernel for your own device easily.

**Contents:-**
• About Android Kernel
• Why we need custom kernels
• How to compile a custom kernel
• Upstreaming kernel version and it

[2017-12-17 18:38] sourabhtk37 commented on #67
Lovely. Thanks for the talk proposal @LordArcadius

[2017-12-17 18:40] LordArcadius commented on #67
It's my pleasure 😀

[2017-12-17 18:42] sourabhtk37 commented on #67
@MSF-Jarvis any pointers or tips that can be added for this talk?

[2017-12-17 18:46] LordArcadius commented on #67
@MSF-Jarvis you also coming mate?😎 If yes then Dayum it will be great.

[2017-12-17 18:59] MSF-Jarvis commented on #67
When is it haha I'll see if I can show up. As far as content goes it looks kinda bland but we can talk about that back in the telegram chat.

[2017-12-17 19:00] LordArcadius commented on #67
Oh sure!

[2017-12-21 02:01] #61 closed

[2017-12-31 09:17] Manas-kashyap commented on #66
This could be a good talk, we can finalize it.

[2017-12-31 09:23] sourabhtk37 commented on #66
There is no content as of now, I will develop this soon and update. Check other talks in line.

[2017-12-31 09:27] sourabhtk37 commented on #41
Closing this.

[2017-12-31 09:27] #41 closed

[2017-12-31 18:09] Manas-kashyap commented on #63
Are you ready with your content, and can u deliver it on 6 January meetup?

[2017-12-31 18:10] Manas-kashyap commented on #39
Are you ready to deliver this talk on 6 January meetup?

[2017-12-31 18:10] Manas-kashyap commented on #39
Are you ready to deliver this talk on 6 January meetup?

[2017-12-31 18:11] Manas-kashyap commented on #67
Can you give this talk on 6 January meetup.

[2018-01-01 10:08] Hritik14 commented on #63
No, not yet.

[2018-01-03 12:05] sourabhtk37 commented on #23
@ajnsit Next meetup is on 6th and at Fueled Noida. Are you available for this talk?

[2018-01-03 12:08] sourabhtk37 commented on #42
@rajudev Meetup on 6th at Fueled. Are you available to give this talk?

[2018-01-03 15:05] rajudev commented on #42
I would be attending, but can't prepare for the talk yet due to work commitments. Only in case of us not getting a speaker, I'll be giving the talk.

[2018-01-04 07:05] ajnsit commented on #23
@sourabhtk37 Unfortunately, I'm not available this week.

[2018-01-04 14:27] sourabhtk37 commented on #56
Not available on 6th. Moving this talk to February meetup.

[2018-01-04 14:28] sourabhtk37 commented on #23
Moving this talk to February meetup lineup.

[2018-01-04 14:28] sourabhtk37 commented on #63
Moving this talk to February meetup lineup.

[2018-01-06 17:04] cosmologist10 opened #68 "Text/Multimedia seach engine"
**Abstract**
	A search engine for user text and multimedia contents. This talk is divided into two parts:
1. For text files: It will lookup for a particular word in the given directory.
2. For multimedia files: It will lookup in the given directory, according to the specified metadata for images/audio/video files.
Multiprocessing would be used to increase the efficiency of searching.

**Expected D

[2018-01-06 18:27] philo-math opened #69 "IRC, the saviour!"
**Abstract**
	An introduction to an old but a famous communication protocol, IRC and why should we switch to it.

**Contents**
* Communication and its need
* OSS world depends on collaboration and trust among developers and communication play major role in this.
* What, actually is IRC?
* How IRC works?
* Why should we use it?
* Problems with it and its solution.
* Bouncers
* Cloaks and protecting

[2018-01-07 06:02] Manas-kashyap opened #70 "Handson on Debian packaging of nodejs modules ."
It will be a Hands-on to pack some small modules of nodejs for Debian, I will also cover some tools like  npm2deb and other tools like lintian , and fixing some patches using Quilt .

**Expected Duration**
   1hr to 1:30 hr

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner

**Pre-requisite**
   	Laptop with Debian sid in the docker.
        good internet connection.

[Deb

[2018-01-07 08:22] sourabhtk37 commented on #67
It was a great IMO. Apart from internet, connectivity issues(which is given case almost everywhere), It went well.
Looking forward to see more.
Please upload any slides relating to this talk so we can keep a log.

[2018-01-07 08:24] sourabhtk37 commented on #68
Lovely. Looking into [fzf](https://github.com/junegunn/fzf) too.

[2018-01-07 08:28] sourabhtk37 commented on #69
Thanks for the proposal.
This talk can be done under 20min I think. Maybe you can add "how-to" setup irc-bouncers like [ZNC](http://wiki.znc.in/ZNC). Which would be useful.

Personally, I would love to see a talk on building an IRC bot too. (just a suggestion). Maybe @xeon-zolt can help you out or you guys can collaborate.

[2018-01-07 08:32] sourabhtk37 commented on #70
Looking forward, please properly device the talk and divide into segments so it helps in following.

[2018-01-08 08:42] philo-math commented on #69
Thanks for the suggestion.
Sure, I will add the IRC bot suggestion.

[2018-01-08 16:31] sourabhtk37 commented on #63
Next meetup is on 21st of January, Please let me know your availability. @Hritik14

[2018-01-08 18:59] Hritik14 commented on #63
Unavailable. Please let me ping you back when I can. It's really very
embarrassing for me to keep rescheduling.

On Mon, Jan 8, 2018 at 10:01 PM, T K Sourabh <notifications@github.com>
wrote:

--
Regards
Hritik Vijay

[2018-01-08 19:05] sourabhtk37 commented on #63
It's perfectly fine. Thanks.
I'm thinking of setting up a bot to automate the task of confirming availability anyways :)

[2018-01-08 19:08] Hritik14 commented on #63
That's a nice idea. Would you mind if I develop that ?

On Tue, Jan 9, 2018 at 12:35 AM, T K Sourabh <notifications@github.com>
wrote:

--
Regards
Hritik Vijay

[2018-01-08 19:08] sourabhtk37 commented on #63
Go ahead.

[2018-01-12 09:32] sourabhtk37 commented on #13
Assigned to @hellozee.
Please let us know your availabilty and maybe create a new issue with talk/workshop content. Will be closing this if new one is made.

[2018-01-12 16:06] rajudev commented on #68
@sourabhtk37 are we confirming this for upcoming meetup?

[2018-01-14 15:56] sourabhtk37 commented on #68
We need to polish the talk a bit to be interesting for the audience.
@cosmologist10 Can you illustrate how the it works at shell level since the argparse and subprocess module speaks with the shell and the subprocess.
Also please let us know your availabilty on 21st of January.

[2018-01-14 15:58] sourabhtk37 commented on #67
Closing this as complete.  Although still waiting for slides and resources to add in logs. @LordArcadius Please share the slides and accompanying slides for this talk for logs.

[2018-01-14 15:58] #67 closed

[2018-01-14 16:00] sourabhtk37 commented on #69
Any changes to the talk content that you're planning to do?
We have a slot on 21st January for your talk, will you be available?

[2018-01-14 16:10] cosmologist10 commented on #68
Yeah, I am working on the presentation and slides part with few changes in the code base, It will explain how things are interacting on shell level, and uses of subprocess module, etc. It will get updated by Thursday.

Yeah, I will be available on 21st of January.

[2018-01-16 05:48] vabhishek-me opened #71 "Getting started with tmux and vim"
**Abstract**

 - tmux is used to multiplex several terminals allowing multiple separate terminal sessions inside a single terminal window or remote terminal session. It's very helpful in development and remote terminal sessions/coding. It is useful for dealing with multiple programs from a command-line interface, and for separating programs from the Unix shell that started the program.

 - vim is

[2018-01-17 09:40] LordArcadius commented on #67
Sorry for the delay in my reply. So here are some important things related to android kernel compilation. I am also including the PPT slides I used in talk.

Guide to compile the kernel:-

- Clone the kernel source code of your device.
- Clone the toolchain (Check below for toolchain links)
- cd to kernel source directory
- Now we have to export our toolchain to Makefile. For that enter following

[2018-01-18 09:57] sourabhtk37 commented on #71
@mfrw Can you suggest topics that @iammrdollar can append to existing proposal for vim?

[2018-01-19 04:30] iammrdollar commented on #71
@sourabhtk37 I've added some topics. Will be adding more points as I go through the flow which I'm gonna follow in the talk.

[2018-01-23 17:21] philo-math commented on #69
Sorry for the late reply, I was having issues with my laptop.

The content for the talk is as explained above. For the IRC bots, a separate talk would be better(IMO).
I can give the talk at next meetup and please review the slides for any suggestions @sourabhtk37 :)

[2018-01-28 09:33] hellozee opened #72 "An Introduction to Portage Package Management System"
**Abstract**
	Portage, the package manager of Gentoo, is quite different than other package managers. The talk will
        about package managers in linux and what makes Portage different and more advanced than other
        package managers like apt, yum, pacman.

**Expected Duration**
        30 - 40 mins

**Track**
         Intermediate

**Pre-requisite**
   	A basic understanding of the linux

[2018-01-28 09:34] hellozee commented on #13
@sourabhtk37 you can close this one, and assign #72 to me.

[2018-02-02 06:45] ankitrgadiya opened #73 "Managing dotfiles across multiple systems"
**Abstract**

Dotfiles are often used to configure various software, but they tend to get very messy
and hard to manage, specially across multiple systems if done by hand. So, this talk is going to be about managing dotfiles using commonly available tools like `git`, and symlinks.

**Expected Duration**

Around 20 minutes

**Track**
Beginner

**Pre-requisite**
* General knowledge about using shell

[2018-02-07 11:42] #13 closed

[2018-02-12 10:58] xeon-zolt commented on #69
@sourabhtk37 this talk is completed please close the issue and update the slide

[2018-02-12 14:17] #69 closed

[2018-02-14 19:56] philo-math opened #74 "SSL + TLS"
**Abstract**
	A lightening talk on ssl + tls would be great if someone can give.

Tags: Request

[2018-02-26 10:18] Boot-Error commented on #74
I can take up this talk. If possible, I can take up a full talk.

[2018-02-26 13:56] abhaysingh1998 commented on #74
@Boot-Error this would be awesome 👍👍

[2018-03-01 07:58] sourabhtk37 commented on #74
@Boot-Error It would be better idea to make a new proposal with things you will cover. Sounds good?

[2018-03-04 07:52] #66 closed

[2018-03-14 17:21] hellozee commented on #63
@Hritik14 will you be available on 14th or 15th April

[2018-03-14 19:13] Hritik14 commented on #63
No.

[2018-03-18 16:50] hellozee commented on #56
@aurabindo will you be available on 14th or 15th April

[2018-03-18 17:04] hellozee commented on #42
Confirmed for 14/15th April

[2018-03-25 03:43] prabhatrhce opened #75 "Failover of Cloud Services"
**Abstract**
I had a great learning during the migration of application (generating revenue of 5million dollor/month) when the cloud services were failing, in 2017 Jan, S3 bucket got failed, and I had a responsibility to run the show then and after that and I also did the RCA.

**Expected Duration**
    30 Min.

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner
        - I

[2018-03-25 16:57] sourabhtk37 commented on #75
Thanks for the info. Looking forward to this talk. I would personally love if you share the nitty gritty details too.

Yup definitely. Waiting for the slides

[2018-03-27 06:06] rajudev commented on #70
Closing this as it has been delivered at the meetup on 24 March 2018

[2018-03-27 06:07] #70 closed

[2018-03-27 06:08] rajudev commented on #72
Closing as delivered at the meetup on 24 March 2018

[2018-03-27 06:08] #72 closed

[2018-03-27 12:35] sourabhtk37 commented on #71
Closing this as complete.

[2018-03-27 12:36] sourabhtk37 commented on #73
Can you share your availability for 14th of April?

[2018-03-27 12:37] sourabhtk37 commented on #75
Can you share your availability for 14th of April?

[2018-03-27 13:55] mfrw commented on #71
Sorry missed it :(

On Tue, Mar 27, 2018, 6:05 PM T K Sourabh <notifications@github.com> wrote:

[2018-03-27 14:50] prabhatrhce commented on #75
Hi Sourabh,

I am traveling until 15the April. I will be available post 15th anytime.

^Prabhat

On Tue, Mar 27, 2018 at 6:07 PM, T K Sourabh <notifications@github.com>
wrote:

[2018-03-27 16:57] sourabhtk37 commented on #75
Moving to May's meetup.

[2018-03-30 09:41] ankitrgadiya commented on #73
Hey, I don't actually live in Delhi so I'll have check if I can come on 14th.

[2018-04-04 11:30] sourabhtk37 commented on #73
It's okay. Don't be sorry. Let us know when you plan to visit Delhi, we will put up your talk then. Sounds good?

[2018-04-04 13:42] ankitrgadiya commented on #73
Yeah sure. Thanks

[2018-04-06 08:55] jayant7k opened #76 "Making docker work"
**Abstract**
  - Basics of docker
  - What is the problem that docker solves ?
  - Workshop
     - Creating docker file
     - Running a container
     - Mounting code in container
     - Communication between containers
  - What are immutable containers ?
  - Problems with containers
  - How Kubernetes helps
  - Kubernetes architecture
  - Use case of Docker & Kubernetes

**Expected Duration**

[2018-04-06 09:31] sourabhtk37 commented on #76
Thanks for the proposal @jayant7k
We had a similar talk before at the meetup, here's the [slides](https://github.com/mfrw/talks/blob/master/docker-intro/docker-intro.pdf)

@mfrw Can you suggest some refinement to the content?

[2018-04-06 09:33] sourabhtk37 commented on #76
Please also state your availability for 14th of April @jayant7k
The meetup will be happening from 11am-6pm.

[2018-04-08 13:50] sourabhtk37 commented on #76
Thats okay. The audience have changed quite a lot and this would be more relevant now.

What I would suggest is make this a bit more hands-on session. Let us know.

[2018-04-08 15:36] mfrw commented on #76
Making things handson always helps.

On Sun, Apr 8, 2018, 7:20 PM T K Sourabh <notifications@github.com> wrote:

[2018-04-09 17:02] mukgupta opened #77 "Debugging using Strace"
**Abstract**
I'll be discussing how can you debug linux processes using Strace. Will cover common linux system calls, useful strace one-liners and different scenarios where you can use strace for debugging.

**Expected Duration**
    30 minutes.

**Track**
      - Intermediate

**Pre-requisite**
    Linux Fundamentals

**Resources**
    Links to resources related to the talk and from where one can

[2018-04-10 01:53] sourabhtk37 commented on #77
Thanks for the proposal @mukgupta
Will you be available on 14th of April to take up this talk? Please let us know.

[2018-04-10 05:03] mukgupta commented on #77
@sourabhtk37 : I think I can make it. What's the venue for the talk?

[2018-04-10 06:53] sourabhtk37 commented on #77
It is Investopad Gurugoan.
Can we finalise this talk for 14th of April?

[2018-04-10 07:16] mukgupta commented on #77
@sourabhtk37 : Sure.

[2018-04-10 09:37] jayant7k commented on #76
@sourabhtk37 @mfrw Thanks for your support. Let me prepare the content. I will share the slides by tomorrow. I will try to introduce a handson session as well.

[2018-04-10 13:55] sourabhtk37 commented on #77
Awesome. Putting this talk on schedule then.

[2018-04-10 14:18] sourabhtk37 commented on #76
That's good to hear. Please let us know if you would be able to deliver this talk/workshop on 14th of April.

[2018-04-10 15:27] cocoa1231 opened #78 "Introductions to LKMs and ftrace"
**Abstract**
This talk will be a simple introduction to Loadable kernel modules, and seeing how they work and debugging them using ftrace. The audience is encouraged to participate and follow along. I will first show how to create a hello world module and inserting it. Then we'll see how to trace it and if we have the time, we will also create a device driver and ftrace that too!

**Expected Durat

[2018-04-10 16:26] sourabhtk37 commented on #78
Finalising this for 14th of April's meetup.

[2018-04-11 04:53] jayant7k commented on #76
Yes I will deliver it on 14th April.

[2018-04-11 18:15] sourabhtk37 commented on #76
@jayant7k Since this would require more time, shifting to this to the next meetup as we ran out of slots for meetup of 14th of April. Thanks.

[2018-04-11 18:16] sourabhtk37 commented on #77
Schedule is updated [here](https://www.meetup.com/ilugdelhi/events/rjnzmpyxjbdb/).

[2018-04-12 04:39] jayant7k commented on #76
@sourabhtk37, I have updated the Abstract of the talk. Moving the talk to the next meeting will help me prepare the workshop better. Thanks for that. Let me know if there is anything else that you would want me to include in the talk / workshop.

[2018-04-14 06:54] philo-math commented on #42
@rajudev Can you add all the decentralized alternatives to facebook, twitter etc. at one place for us to refer?

[2018-04-20 08:53] cocoa1231 commented on #78
@sourabhtk37 You can close this and mark it as delivered

[2018-04-20 15:48] #78 closed

[2018-04-20 15:48] sourabhtk37 commented on #77
Thanks for the amazing talk.

[2018-04-20 15:48] #77 closed

[2018-04-23 19:28] hellozee commented on #75
@prabhatrhce  Are you available for 6th May?

[2018-04-23 19:30] hellozee commented on #76
@jayant7k  Are you available for 6th May?

[2018-04-23 19:30] hellozee commented on #73
@ankitrgadiya Are you available for 6th May?

[2018-04-23 19:30] hellozee commented on #63
@Hritik14  Are you available for 6th May?

[2018-04-23 20:10] #42 closed

[2018-04-24 04:57] jayant7k commented on #76
Yes, I am available for 6th May

[2018-04-24 10:35] Hritik14 commented on #63
No, but soon.

[2018-04-30 13:51] hellozee commented on #39
Available for 5th May?

[2018-04-30 14:08] hellozee commented on #76
@jayant7k could you shift to 5th May? Due to unavailability of venue for 6th we shifting out meetup to 5th.
Sorry for the inconvenience.

[2018-05-01 04:52] jayant7k commented on #76
@hellozee yes 5th would also work for me. Can you tell me my slot, so I can plan accordingly ?

[2018-05-01 05:43] hellozee commented on #76
@jayant7k thanks, you can check the schedule here, https://public.etherpad-mozilla.org/p/ilugd-5th-may , after the second talk is finalized we will upload the schedule to our meetup.com page

[2018-05-03 15:34] hellozee commented on #76
@jayant7k sorry to inform, due to unavailability of a second session we have to cancel this week's meetup.

[2018-05-06 08:52] sourabhtk37 commented on #75
@prabhatrhce Pls state your availability for May 12th?

[2018-05-06 08:56] sourabhtk37 commented on #39
Closing this as no response from proposer yet.

@manasb feel free to open this again.

[2018-05-06 08:56] #39 closed

[2018-05-06 08:57] sourabhtk37 commented on #23
@ajnsit Pls let us know if you would be able to give this talk on 12th of May? Location will most probably be Srijan Tech, CP, Delhi

[2018-05-06 09:04] sourabhtk37 commented on #76
@jayant7k We have moved the meetup to 12th of May. Will you be available to deliver the talk/workshop for the same?

[2018-05-06 09:25] ajnsit commented on #23
Yeah sure I can take this session on the 12th.

[2018-05-06 17:48] sourabhtk37 commented on #23
Finalising your talk then

[2018-05-06 23:55] jayant7k commented on #76
Yes, I will be available on 12th

[2018-05-07 02:43] prabhatrhce commented on #75
Hi,
I am not sure as last few days my dad is under treatment and he may go for
his surgery. In that case I need to fly. So, please excuse me for this
month. I am sure June will be fine.

Regards,
Prabhat

On Sun 6 May, 2018, 2:22 PM T K Sourabh, <notifications@github.com> wrote:

[2018-05-08 12:26] sourabhtk37 commented on #23
https://www.meetup.com/ilugdelhi/events/rjnzmpyxhbqb/

Schedule and venue is updated here. I would recommend to try out your setup with projector before the workshop for smooth sailing.

[2018-05-08 12:27] sourabhtk37 commented on #76
https://www.meetup.com/ilugdelhi/events/rjnzmpyxhbqb/

@jayant7k Schedule and venue is update here. I would encourage you to test your setup(projector and your laptop) before the workshop so that there is no problems with the session.

[2018-05-08 14:41] mfrw commented on #73
@ankitrgadiya @sourabhtk37
Although using symlinks is what majority of people use, I would _suggest_ having a go at `git --bare` repositories.
Have a look at this hackernews thread:

https://news.ycombinator.com/item?id=11070797

& this too

https://developer.atlassian.com/blog/2016/02/best-way-to-store-dotfiles-git-bare-repo/

[2018-05-13 15:40] sourabhtk37 commented on #76
@jayant7k Thank you for the talk. Looking forward to hear more from you.

[2018-05-13 15:40] #76 closed

[2018-05-13 15:42] sourabhtk37 commented on #23
@ajnsit Thanks for the talk. Looking forward for more.

[2018-05-13 15:42] #23 closed

[2018-05-17 12:33] hellozee opened #79 "How are buttons drawn on the screen?"
**Abstract**
We all at some point of time wonder how do this cute little icons were drawn on the screen. The talk will                  be based on how different GUI llibrary/framework/toolkit interact with the display server through the X11 protocol to draw stuff on the screen and manage the events.

**Expected Duration**
 - 30 mins

**Track**
 - Intermediate

**Pre-requisite**
 - Basic understan

[2018-05-21 07:29] vipulgupta2048 opened #80 "Plymouth 101 : Bootloader's Frontend"
**Abstract**
I love to customize my system (Using Linux). I am sure other programmers think, want or love to customize their system, their own special way that their cynical mind could call their own. People customize everything, but sometimes they ignore the thing that arrives at the beginning of the system boot. That is PLYMOUTH, an archaic package running in the background way before anything i

[2018-05-24 05:47] mysticTot opened #81 "Swupdate: A new generation embedded linux updater"
**Abstract**
   SWUpdate provides a reliable way to update the software on an embedded system

**Expected Duration**
  50 Minutes (30 Minutes + 20 Minutes Demo)

**Track**
    	- Beginner
        - Intermediate

**Pre-requisite**
   	Eagerness to learn along with some introductory knowledge of :
        - [U-Boot](https://www.denx.de/wiki/U-Boot)
        - [U-Boot Env](https://www.denx.de/wiki/DUL

[2018-05-27 06:35] cocoa1231 commented on #81
Hi @mysticTot!

Would you be available to give this talk on the June 9th meetup?

[2018-05-27 06:37] cocoa1231 commented on #80
Hi @vipulgupta2048!

Would you be available to give this talk on June 9th?

[2018-05-27 06:37] cocoa1231 commented on #79
Hey @hellozee!

Could you give this talk on June 9th?

[2018-05-27 14:44] hellozee commented on #79
Sorry I will not be available till 10th of July.

[2018-05-28 08:15] vipulgupta2048 commented on #80
I haven't prepared the slides yet + my evaluation would be coming up at that time. I would probably be ready in the next one.

[2018-05-30 18:36] cocoa1231 commented on #81
That date isn't decided yet. I'll let you know as I find out

[2018-05-30 18:37] cocoa1231 commented on #80
Okay. No problem :)

[2018-05-30 18:37] cocoa1231 commented on #79
Okay. Thanks for letting me know

[2018-06-04 17:18] cocoa1231 commented on #73
Hey @ankitrgadiya

Would you be available to present your talk on 12th May?

[2018-06-07 10:10] iayanpahwa opened #82 "Using Linux in commercial products and Yocto Project touchdown"
**Topic**
Using linux in products and touchdown to Yocto project build system.

**Abstract**
Today Linux  powers more than just servers, mobiles and things you know, but what is the correct approach to use Linux in commercial production, attendees will learn in this talk.

**Expected Duration**
    ~ 40-60 mins

**Track**
        - Advanced

**Pre-requisite**
- Understanding of git
- Understanding

[2018-06-13 17:56] hellozee opened #83 "Suggestion: Chroot, the mother of Docker"
**Abstract**
Recently we are having a lot of Docker talks, though everyone is aware how to use Docker but most of us are don't have any clear concept of how Docker works. So I am suggesting a talk on chroot, which will revolve on how it works and why it is used.

[2018-06-16 15:03] philo-math commented on #80
Hey @vipulgupta2048, would you be available to give the talk on our next meetup probably on 30th June or 1st July?

[2018-06-16 15:05] philo-math commented on #56
@aurabindo will you be available for our next meetup on 30th June 2018 or 1st July 2018?

[2018-06-16 15:06] philo-math commented on #63
@Hritik14  will you be available for our next meetup on 30th June 2018 or 1st July 2018?

[2018-06-16 15:07] philo-math commented on #71
@vabhishek-me will you be available for our next meetup on 30th June 2018 or 1st July 2018?

[2018-06-16 15:08] philo-math commented on #73
@ankitrgadiya  will you be available for our next meetup on 30th June 2018 or 1st July 2018?

[2018-06-16 15:10] philo-math commented on #75
@prabhatrhce  will you be available for our next meetup on 30th June 2018 or 1st July 2018?

[2018-06-16 15:13] philo-math commented on #82
@iayanpahwa  will you be available for our next meetup on 30th June 2018 or 1st July 2018?

[2018-06-16 15:15] philo-math commented on #81
@mysticTot  will you be available for our next meetup on 30th June 2018 or 1st July 2018?

[2018-06-16 15:15] philo-math commented on #83
@Manash-kashyap would you like take this talk?

[2018-06-16 17:13] iayanpahwa commented on #82
@philo-math  Hard to say 15 days prior, but hopefully Yes!

[2018-06-17 08:39] vipulgupta2048 commented on #80
I am going out of town for that week, setbto return on the 6th. Sorry.

[2018-06-18 09:30] philo-math commented on #80
No worries :)
Can we schedule you for our next meetup (dates yet TBD, mostly in the end of July 2018)?

[2018-06-18 13:18] vipulgupta2048 commented on #80
@philo-math I usually don't have much to do but can't confirm. I will inform on the Telegram group when I am free.

[2018-06-20 06:38] Hritik14 commented on #63
No, I'm having my college counseling these days :(

[2018-06-20 14:29] philo-math commented on #80
@vipulgupta2048 Sure :)

[2018-06-20 14:30] philo-math commented on #63
No worries, any probable dates, we can line up your talk at one of our meetups?

[2018-06-23 13:06] iayanpahwa commented on #82
@philo-math I've updated the issue title - Yocto project touchdown.

[2018-06-26 07:42] shashikanth171 opened #84 "Digital Security Training"
**Abstract**
Malware is software designed to do perform unintended often malicious actions without the users’ permission. Phishing attacks       collect users’ sensitive information such as usernames, passwords, location, financial information usually by disguising as trustworthy communication.

People are tracked on-line. Their digital profiles being created using the records of their browsing hi

[2018-07-03 10:04] philo-math commented on #81
@sourabhtk37 Please close this issue as the talk has been delivered :)

[2018-07-03 10:05] philo-math commented on #82
@sourabhtk37 Can you close this issue? The talk has been delivered in our last meetup.

[2018-07-03 19:39] #81 closed

[2018-07-08 13:16] juggernaut451 opened #85 "Javascript under the hood"
**Abstract**
         The talk will be covering the Javascript event loop. After the talk one could easily understand how things work under the hood and the reason for javascript to be asynchronous.
         JavaScript programmers like to use words like, “event-loop”, “non-blocking”, “callback”, “asynchronous”, “single-threaded” and “concurrency”.
        After the talk one would easily be familia

[2018-07-24 12:05] hellozee commented on #80
@vipulgupta2048 will you be available on 11th August for delivering this talk?

[2018-07-24 12:06] hellozee commented on #85
@juggernaut451 will you be available on 11th August for delivering this talk?

[2018-07-24 12:06] hellozee commented on #75
@prabhatrhce will you be available on 11th August for delivering this talk?

[2018-07-24 12:06] hellozee commented on #73
@ankitrgadiya will you be available on 11th August for delivering this talk?

[2018-07-24 12:06] hellozee commented on #71
@vabhishek-me will you be available on 11th August for delivering this talk?

[2018-07-24 12:06] hellozee commented on #63
@Hritik14 will you be available on 11th August for delivering this talk?

[2018-07-24 12:06] hellozee commented on #56
@aurabindo will you be available on 11th August for delivering this talk?

[2018-07-24 17:13] Hritik14 commented on #63
I moved out of Delhi. :(

[2018-07-24 17:13] #63 closed

[2018-07-31 10:45] juggernaut451 commented on #85
Not 11th.. can we put in meetup after 11?

[2018-07-31 11:53] hellozee commented on #85
okay, no worries, if possible please inform us about the weekends you will be available, we will schedule that accordingly.

[2018-08-05 06:37] yashwithgm commented on #71
Practical Vim is a good book for learning vim.

[2018-08-05 06:38] yashwithgm commented on #54
Libreoffice suck

[2018-08-05 16:39] vabhishek-me commented on #71
@yashwithgm Yup. In-fact its the best book.

[2018-08-07 05:04] mfrw commented on #71
[A byte of Vim](http://files.swaroopch.com/vim/byte_of_vim_v051.pdf) by Swaroop C H, is also a very concise book that can be used a gentle introduction to vim.

[2018-08-13 11:08] vabhishek-me commented on #71
Access Talk Contents Here: https://github.com/vabhishek-me/talks/tree/master/tmux-vim-ilugd

Closing the issue!

[2018-08-13 11:08] #71 closed

[2018-08-13 11:27] #84 closed

[2018-08-15 19:46] rajudev opened #86 "Why there are so many *nix distributions? which one should you choose?"
**Abstract**
	A look into the history and the present state of the *nix operating systems & why there are so many of them.  How did the operating system eco-system evolved and why so many of them are there now. Having so many operating systems is actually not bad for the system, it gives the end user more choice suiting his/her particular use case. We will also take a look at the specialties of a

[2018-08-19 09:49] rajudev commented on #86
Here are the slides to the talk.
[why.pdf](https://github.com/ILUGD/talks/files/2300218/why.pdf)

[2018-08-19 09:49] #86 closed

[2018-08-23 16:14] hellozee commented on #85
@juggernaut451 will you be available on 8th September?

[2018-08-23 16:14] hellozee commented on #80
@vipulgupta2048 will you be available on 8th September?

[2018-08-23 16:15] hellozee commented on #73
@ankitrgadiya will you be available on 8th September?

[2018-08-23 16:15] hellozee commented on #75
@prabhatrhce will you be available on 8th September?

[2018-08-23 16:15] hellozee commented on #56
@aurabindo will you be available on 8th September?

[2018-08-25 07:04] aurabindo commented on #56
@hellozee  I'm really sorry, I was out of GitHub for a while. Besides, I moved out of Delhi! So this talk wont be possible! Apologies again! I'm closing this.

[2018-08-25 07:04] #56 closed

[2018-08-25 07:46] hellozee commented on #56
@aurabindo ohh no problem

[2018-08-31 21:52] juggernaut451 commented on #85
yes I am available

[2018-09-01 02:47] hellozee commented on #85
Nice

[2018-09-01 11:53] rajudev opened #87 "The Raspberry Pi BootCamp - a series of workshops"
**Abstract**
    This would be a hands-on workshop which will introduce you to a Raspberry Pi and making your own projects on top of it. It would cover the following contents.
*    Introduction
*    What do I need to get started ?
*    Raspberry Pi system specifications
*    Ports, Pins and their uses
*    Raspberry Pi with Raspian OS
*    Setting Up Rasbian OS and the initial user configuration
*

[2018-09-02 12:08] radamar opened #88 "Bootstrapping a Civilization?"
Building a civilization from scratch?

1. Why?
Capitalism is going terribly wrong. Destroying our planet. People are unhappy with their lives.

2. We want a free society. Where people respect and trust each other.
We cannot have a free society if the only way to earn a living is to write proprietary software, which is unethical. Similarly, non-programmers should also have freedom to make professio

[2018-09-08 12:30] #80 closed

[2018-09-08 14:18] vipulgupta2048 commented on #80
**Slides** - https://slides.com/vipulgupta2048/vplymouth/

[2018-09-12 09:06] ramantehlan opened #89 "Modern JavaScript Packaging"
**Abstract**

In 2020, [Github bought NPM](https://blog.npmjs.org/post/612764866888007680/next-phase-montage), and In 2019, [Github also announced its Package registry](https://techcrunch.com/2019/05/10/github-gets-a-package-registry/) for Javascript and few other languages, which means now you can publish and manage your packages on both Github and NPM and use any package manager client. Through

[2018-10-10 08:39] Thedijje opened #90 "Use Google assistant to take server backup"
**Abstract**

- Backing up your site on web server is one of crucial process and usually gets scheduled weekly or daily bases.
- Manually backing up is sometimes pain and quickly backing up your server data is sometimes required before making new changes or server based operation.
- Google assistant, Shell script and automation of these can be used to personalize your Google assitant to take backu

[2018-10-23 16:48] hellozee commented on #90
The duration you mentioned fits more into the `Thunder` talks category, you don't need to make a separate issue for giving one.
But would love if you could add some more content though

[2018-10-23 16:49] hellozee commented on #87
Lets plan a `PiJam` for our next meetup then

[2018-11-06 08:07] rajudev commented on #87
@hellozee you were not there when we had a meetup with RPi's at Innov8 in CP. That was amazing as well.
I think along with this we could have a meetup in that style/pattern as well

[2018-11-06 08:56] hellozee commented on #87
@rajudev don't worry, I have gone through the album, we can plan the next meetup accordingly, I would propose something like a talk on first session then people implement it on their pis in the second session

[2018-11-06 11:36] rajudev opened #91 "Software packaging of golang packages for Debian"
**Abstract**
	This would be a guided dev sprint for packaging of golang packages, wherein one can learn and contribute to the software packaging of golang modules for Debian and its derivatives.
In short you will learn about creating packages which would be later uploaded to Debian/Derivative repositories and then could be used by other people.

**Expected Duration**
Dev Sprint - 3-6 hours

**Trac

[2018-11-06 11:59] rajudev opened #92 "Software packaging of Node modules in Debian/Debian Derivatives"
**Abstract**
	This would be a guided dev sprint for packaging of node modules, wherein one can learn and contribute to the software packaging of node modules for Debian and its derivatives.
In short you will learn about creating packages which would be later uploaded to Debian/Derivative software repositories and then could be used by other people.

**Expected Duration**
 3-6 hours
**Track**
   	-

[2018-11-06 12:10] iayanpahwa opened #93 "Let's talk some non tech essential things?"
**Abstract**
1. Campus to Corporate
2. Automating boring stuff at workplace
3. Indian taxation on Income
4. Investment for Beginners
5. Staying motivated with work
6. Finding new challenges and much more

**Expected Duration**
    30 mins

**Track**
    	- Beginner

**Pre-requisite**
N/A

**Resources**

**Slides**

---
### Note
Please do add/upload slides in pdf or an open document format.
People

[2018-11-13 19:39] tanmaymohan commented on #87
How different it will be from the Rpi Birthday JAM ?

I attended it and now I am thinking if I could contribute as well somehow

[2018-11-14 06:50] rajudev commented on #87
This would be a lot different. Although I did not got to attend the Raspberry Pi Jam, I did got to hear a lot about it.
This would be traditional hands-on walk through with the Raspberry Pi / SBC, its details and how to go about making/creating different types of projects with them. You are surely welcome to contribute in anyway you can.

[2018-11-18 15:30] hellozee commented on #89
@ramantehlan will you be available for November 25th?

[2018-11-18 15:30] hellozee commented on #85
@juggernaut451 will you be available for November 25th?

[2018-11-18 15:30] hellozee commented on #93
@iayanpahwa will you be available for November 25th?

[2018-11-18 15:31] hellozee commented on #75
@prabhatrhce will you be available for November 25th?

[2018-11-18 15:31] hellozee commented on #73
@ankitrgadiya will you be available for November 25th?

[2018-11-19 16:32] iayanpahwa commented on #93
@hellozee I would like to put this one on hold for some time. You can either keep it open or close so I can re-open again when there is right time for this one.

[2018-11-20 07:12] rajudev opened #94 "Lets explain a research paper."
**Abstract**
We might or might not have read some scientific research papers either in college or at work. This session could be taken by giving a presentation about a scientific research paper that they can/have read and the way they understood it. I used to read a lot of research papers while doing my academics. We/I could start explaining some of them here. The presentation for the paper can be

[2018-12-21 16:49] mridubhatnagar opened #95 "Let's do, Git Stash!"
**Abstract**
	Provide a brief introduction about the talk.
    Also list the topics that the talk is going to cover.

**Expected Duration**
    Approximate duration of the talk.

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner
        - Intermediate
        - Advanced

**Pre-requisite**
   	Enlist here if there are any pre-requisite for attending the talk.

**Resources**

[2018-12-21 16:52] mridubhatnagar commented on #95
I shall be updating this by tomorrow evening. Planning around the lines mentioned in this blog post.
https://medium.com/@mridubhatnagar/tech-git-stash-fcd7fe67e3f5

[2018-12-21 17:19] mridubhatnagar opened #96 "Playing around with APIs"
**Abstract**
	1. Introduction to API’s
        2. Real life Examples
        3. API’s at Workplace
        4. HTTP Methods
        5. Common HTTP status Codes
        6. Demo - Testing API’s
         7. Handful of Project ideas around API’s

**Expected Duration**
    30-40 min

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner

**Pre-requisite**
   	- No pre-requisites

**

[2018-12-21 18:15] brute4s99 opened #97 "From Test Driven Development to CI and everything in between"
**Abstract**
From Test Driven Development to CI and everything in between
This talk covers the basics of TDD, Extreme Programming and ultimately leads to CI.
This talk will not dwell upon CD yet, as it already contains enough information for a 30 minute talk.
*Can be extended to CD upon request.*

Topics Covered:-
1. TDD
2. Kata
3. Extreme Programming [if time allows]
4. CI
5. Basic Continuous Int

[2018-12-22 06:28] hellozee opened #98 "Approaching Modern C++, something you weren't taught at school"
**Abstract**
    I go over the new stuff introduced in C++11, C++14,  C++17 & somewhat C++20 also and
    show how writing C++ can be less painful and as easy as Python if not easier.

**Expected Duration**
    30 Minutes

**Track**
        - Intermediate

**Pre-requisite**
    A basic idea of working with C++ and OOP

**Resources**
    https://github.com/AnthonyCalandra/modern-cpp-features
    ht

[2018-12-26 16:46] iayanpahwa opened #99 "Make software deliveries great again with 'TESTING'"
**Abstract**
- Let's talk about Software Testing, types, its importance and how massive codebases are tested before releasing in production.

**Expected Duration**
- 40-50 mins

**Track**
- Beginner/Intermediate

**Pre-requisite**
- None

**Resources**

**Slides**

---
### Note
Please do add/upload slides in pdf or an open document format.
People who are using LibreOffice, openOffice etc. should n

[2019-01-06 10:21] o-nly opened #100 "10 things to do in Emacs"
# Abstract
- 10 things to do in emacs, yes you can also edit text!
  I'd prefer if we can have questions to guide the talk.
  I did a screencast version here: https://www.youtube.com/watch?v=x4Wc0deYh28

# Expected Duration
- 1hr

# Track
- Beginner

# Pre-requisite
- nil

# Resources
-  [[https://www.gnu.org/software/emacs/][Gnu emacs]]
-  [[https://www.emacswiki.org/][EmacsWiki]]
-  [[http://ema

[2019-01-13 09:46] #97 closed

[2019-01-13 09:46] #96 closed

[2019-01-13 09:48] hellozee commented on #100
Nice one

[2019-01-13 09:48] hellozee commented on #100
Is this a talk or a workshop?

[2019-01-13 22:50] o-nly commented on #100
The intent is to get the audience excited to try new(old) software.

the goal is to get people to install emacs, and try out it's best features even if they don't switch to it.

I would think a workshop will be best to accomplish this, but I haven't prepared. The talk is prepared.

[2019-01-14 03:58] hellozee commented on #100
I am labeling this as a workshop then, :yum:

[2019-01-16 12:28] cosmologist10 opened #101 "Apache Cassandra - Finding the beauty in the architecture"
**Abstract**
    In this fast growing world, where we are dealing with complex data which has multi-level
    nesting and hierarchies, NoSQL acts as a real saviour . While dealing with situations
    where we want high throughput instead of latency, Cassandra is first preference. In this
    meetup, I will be talking about cassandra, it's data modeling, architecture of every
    operations and why

[2019-01-17 17:34] o-nly commented on #100
* prepare for workshop on emacs
** Install emacs package
First off you will need [Gnu Emacs][https://gnu.org/s/emacs]. There are several distros of emacs
out there, some of the popular ones are Spacemacs, Doom, maybe Linus
torvalds' UEmacs, and there are many others of the text editor
from 1980s. Some of the reasons why people still love and use it may include:
1. E is Extensible
2. Emacs lisp is

[2019-01-21 08:18] shubhra-agrawal commented on #98
@hellozee That's a great topic for C++ developers and I would like to attend. Is there an expected date for this talk?

[2019-01-21 08:49] hellozee commented on #98
@shubhra-agrawal not at the moment

[2019-01-23 05:53] vimalsheoran opened #102 "Promisifying in JavaScript"
**Abstract**
	Introduction to Promises in JavaScript
I'll be talking about JavaScript call-back hell and how to resolve this issue using Promises and async and await.

**Expected Duration**
    20 - 30 Minutes

**Track**
   	- Intermediate

**Pre-requisite**
   	Basic understanding of JavaScript and callback functions. Knowing the Express web framework will be big plus.

**Resources**
    https://

[2019-01-26 20:46] o-nly commented on #100
I've since then gone ahead and written an extension for emacs. It's called emacs-shroud or shroud.el.

Shroud is a simple cli password manager which uses gpg in the backend to encrypt your passwords.

Shroud.el is an interface to shroud's functionailty through elisp and emacs.

Source: http://nly.info.tm:9000/emacs/shroud.el

[2019-01-27 12:42] hellozee opened #103 "Getting Started with Raspberry Pi"
**Abstract**
	We teach about how is code put into silicon and setting up raspberry without any peripherals.

**Expected Duration**
    2 hours

**Track**
    	- Beginner

**Pre-requisite**
   	A raspberry pi

**Slides**
    https://www.slideshare.net/AyanPahwa1/basics-of-embedded-systems-hardware-architectures

[2019-01-27 12:46] hellozee opened #104 "Exploring linux inside Raspberry Pi"
**Abstract**
	In this workshop, we introduce linux, raspbian and work out on several things like ssh, vnc, cronjobs, cross compiling, needed to work on Raspberry Pi

**Expected Duration**
    1 hr

**Track**
        - Intermediate

**Pre-requisite**
   	https://github.com/ILUGD/talks/issues/103

**Slides**
    https://github.com/hellozee/talks/tree/master/rasp-linux

[2019-01-27 12:46] #104 closed

[2019-01-28 17:31] iayanpahwa commented on #103
@hellozee link to slides --> https://www.slideshare.net/AyanPahwa1/basics-of-embedded-systems-hardware-architectures

Good to close!

[2019-01-28 17:32] #103 closed

[2019-01-29 06:58] nk521 opened #105 "File Formats 101"
**Abstract**
Are files really safe? Or Do you think that your files can do something you never expect them to do?
Crafting Files from scratch in assembly and python and finding flaws in the structure and also in the parsers!

**Expected Duration**
    60-75minutes

**Track**
    Between Intermediate and advanced

**Pre-requisite**
   	A bit of memory knowledge and a bit of ASM knowledge (you can r

[2019-02-08 18:36] vimalsheoran commented on #102
How do I know that I will be allowed to conduct this talk?

[2019-02-17 17:55] mridubhatnagar opened #106 "Workshop III: Using Python with Raspberry Pi"
**Abstract**
     Python Basics, Raspberry Pi Introduction.
**Expected Duration**
    Approximate duration of the talk.

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner

**Pre-requisite**
       Raspberry Pi setup.

**Resources**
    Links to resources related to the talk and from where one can
    read up on the same.

**Slides**
    https://docs.google.com/presentation

[2019-02-18 11:25] rajudev opened #107 "Vagrant - A handson workshop"
**Abstract**
	Vagrant i s a tool to create Virtual Machines on the with the help of a set of re-usable configuration files.
 As the Docs of [Vagrant](https://www.vagrantup.com/intro/index.html) says

This workshop would be a handson workshop Introducing Vagrant and doing some basic stuff with it.
It would also focus on how Vagrant could be useful in the workflows of a Developers/SysAdmins and othe

[2019-02-22 19:28] arush15june opened #108 "Interfacing Sensors with the Raspberry Pi"
**Abstract**
	Interfacing various sensors, servos, ultrasonic sensor etc, with the Raspberry Pi.
**Expected Duration**
    1hr 30min

**Track**
   	- Intermediate

**Pre-requisite**
   	- Raspberry Pi with SSH
        - Sensors, Jumpers, Breadboard

**Resources**
    https://gpiozero.readthedocs.io/en/stable/recipes.html

**Slides**
    https://docs.google.com/presentation/d/166A1yxStScGNkE7w9XMF6

[2019-02-27 01:09] alok760 opened #109 "Raspberry Pi workshop II - Communication Over LAN"
**Abstract**
	communicating with Raspberry Pi over a local area network.
        covering concepts:
- DHCP Server
- SSH
- SFTP
- Flask and gpiozero

**Expected Duration**
    1.5 hours

**Track**
    	Beginner

**Pre-requisite**
   	Enlist here if there are any pre-requisite for attending the talk.

**Resources**
    https://github.com/alok760/raspflask

**Slides**
    http://bit.ly/rpiflask

---

[2019-03-14 16:59] rajudev commented on #109
Delivered in the Raspbery Pi workshop II.
Thanks @alok760 for the workshop.

[2019-03-14 16:59] #109 closed

[2019-03-14 17:00] rajudev commented on #108
Was this delivered during the RPi Jam workshops?

[2019-03-14 17:01] rajudev commented on #106
This workshop was delivered in the RPi Workshop III.
Thanks @mridubhatnagar for a great workshop.

[2019-03-14 17:01] #106 closed

[2019-03-14 17:17] rajudev commented on #87
I think we delivered most of the content stated in the issue here and a lot more in the RPi JAM workshop series that we did. So I guess, we can close this one.

[2019-03-14 17:17] #87 closed

[2019-03-14 17:19] rajudev commented on #93
@iayanpahwa I gues you delivered this one. and you did it very well. Should I close this one?

[2019-03-14 17:20] mridubhatnagar commented on #94
This sounds interesting.

[2019-03-14 17:29] arush15june commented on #108
Yes, it was part of the 2nd workshop.

[2019-03-14 17:33] hellozee commented on #108
Nice, closing this with apt labels

[2019-03-14 17:33] #108 closed

[2019-03-15 10:52] rajudev commented on #95
@mridubhatnagar will you be available to take this talk in the next meetup? Dates not decided yet.

[2019-03-15 15:28] mridubhatnagar commented on #95
@rajudev yes sure. Though I won't be there on 30-31st March weekend. And 13-14th April weekend. Any weekend other than the mentioned one works fine for me.

[2019-03-15 19:53] hellozee commented on #101
Finalised for 6th April Meetup

[2019-03-16 11:28] gargakshit opened #110 "Graph Databases + Dgraph hands on"
**Abstract**
- An intro to Graph Databases
- A hands on session with Dgraph on docker

**Expected Duration**
30 mins

**Track**
Beginner

**Pre-requisite**
A laptop with GNU/Linux and docker installed (Optional, get it if you want to follow along)

**Resources**
https://dgraph.io
https://en.wikipedia.org/wiki/Graph_database

**Slides**
Will add them by monday

[2019-03-26 19:14] #93 closed

[2019-03-31 11:48] gargakshit opened #111 "Intro to GraphQL"
**Abstract**
Intro to GraphQL and authentication with GraphQL (This is a hands on session)

**Expected Duration**
~ 2 hours

**Track**
- Beginner

**Pre-requisite**
Get a laptop with nodejs and your favorite ide if you want to follow along

**Resources**
https://typegraphql.ml
https://typeorm.io
https://nodejs.org
https://github.com/microsoft/typescript

**Slides**
WIP :)

[2019-03-31 11:51] cocoa1231 commented on #111
Can we confirm this talk for 6th April?

[2019-03-31 12:04] gargakshit commented on #111
Sure :)
Be sure to cancel the dgraph one

On March 31, 2019 5:21:00 PM GMT+05:30, cocoa1231 <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-04-06 08:26] jiviteshkuk26 opened #112 "Drones"
**Abstract**
	This talk will be about Drones
        The topics that the talk is going to cover are :
         -  What are drones?
         -  Types of drones
         -   Physics behind the flight
         -   Parts required to build one

**Expected Duration**
    45 Minutes

**Track**
    	- Beginner

**Pre-requisite**
   	Basic understanding of Newton's law of motion, Brushless motors

**Resour

[2019-04-18 08:14] rajudev commented on #112
This seems interesting. We will soon get in touch for when we can schedule this one

[2019-04-21 20:29] #100 closed

[2019-05-01 15:50] gargakshit commented on #111
**Delivered**
Closing the issue

[2019-05-01 15:50] #111 closed

[2019-05-01 16:54] nileshpatra opened #113 "Parallel computation with DASK hands-on"
**Abstract**
	- Introduction to DASK and using cluster APIs
       - Hands-on session with DASK for running simple parallel-processing

**Expected Duration**
    45 minutes

**Track**
    	- Beginner

**Pre-requisite**
   	A laptop with GNU-LINUX(not compulsory) , python3 installed. Anaconda installation would be great ( not compulsory again) - since it would be easy to visualize with graphviz .

[2019-05-06 18:52] nk521 opened #114 "Oh My Zip!"
**Abstract**
Finding loopholes in ZIP file structure and breaking a server using ZIPs only.

**Expected Duration**
60 minutes

**Track**
Intermediate

**Pre-requisite**
None

**Resources**
https://en.wikipedia.org/wiki/Zip_(file_format)
PKZIP APPNOTE.TXT (google it out)

**Slides**
    Links to the slides.

---
### Note
Please do add/upload slides in pdf or an open document format.
People who are

[2019-05-11 12:12] theLimitBreaker opened #115 "Kotlin : Language Our generation deserve"
**Abstract**
 Kotlin is a cross-platform, statically typed, general-purpose programming language with type inference.
Topics:
- Why Kotlin came ?
- Brief into to language and benefit
- How Kotlin lets write the clean and readable code easily
- Why kotlin is buzz in companies like Netlix

**Expected Duration**
   30 Minutes

**Track**
    	- Beginner

**Pre-requisite**
   	little experience with Ja

[2019-05-13 14:53] nileshpatra opened #116 "Make your first telegram bot!"
**Abstract**
	This will be a hands-on session in which we will make a telegram bot and deploy it via heroku

**Expected Duration**
    30 minutes

**Track**
    	Beginner

**Pre-requisite**
   	Python-3 installed . A laptop with GNU-Linux(not compulsory)

**Resources**
    https://link.medium.com/FFe7JBiVEW
**Slides**
Will add them soon

---
### Note
Please do add/upload slides in pdf or an open d

[2019-05-28 07:36] gargakshit opened #117 "Load Balancing NodeJS apps using Docker"
**Abstract**
Intro to Load Balancing your NodeJS web apps
This covers
- Brief on docker
- Brief on docker compose
- Intro to Nginx
- Simple NodeJS web app under 40 LOC

**Expected Duration**
30-45 Mins

**Track**
- Beginner

**Pre-requisite**
- Docker on your machine
- Any text editor (Vim will even work, as we wont be doing more than 100 LOC)
- A brain (Optional), JK

**Resources**
docker.com
ngi

[2019-05-28 17:57] Hritik14 opened #118 "Introduction to Archlinux: Life without bloatware"
**Abstract**
The talk will cover the basics of GPT/MBR ESP followed by a minimal installation of Archlinux and i3 WM.
The target is to showcase the simplicity and flexibility Archlinux provides.

**Expected Duration**
20 min - Difference and importance of GPT and MBR.
40 min - Step by step guided installation of Archlinux.
20 min - Features of Xorg, WM, DM. Precise difference among them.
30 min -

[2019-06-04 17:10] iayanpahwa commented on #114
@nk521 Please add slides

[2019-06-04 17:18] iayanpahwa commented on #118
Hi @Hritik14 , Thanks for proposing this talk. Will you be available on 8th June to deliver this one?

[2019-06-04 17:18] iayanpahwa commented on #117
Hi @gargakshit , thanks for proposing this talk. Are you available on 8th to deliver this one?

[2019-06-04 17:19] iayanpahwa commented on #115
@theLimitBreaker Please upload the slides :)

[2019-06-04 18:59] #91 closed

[2019-06-04 18:59] #92 closed

[2019-06-04 18:59] #110 closed

[2019-06-04 19:00] #115 closed

[2019-06-04 19:00] #112 closed

[2019-06-04 19:01] #114 closed

[2019-06-04 19:02] hellozee commented on #118
@iayanpahwa I guess this will mostly suit an install fest and not regular meetups, :)

[2019-06-04 19:20] nileshpatra commented on #116
@iayanpahwa @hellozee I'll be available on 8th. Coulc you set me up?

[2019-06-05 05:36] gargakshit commented on #117
Yes im available :)

[2019-06-05 11:26] Hritik14 commented on #118
@iayanpahwa   Yes.

[2019-06-05 19:23] theLimitBreaker commented on #115
Sorry for being late
Slides : https://docs.google.com/presentation/d/1IoCRx5X9X48nxJ_joft2ysEODRQrh66J37iS0AStS6o/edit?usp=sharing

Code : https://github.com/theLimitBreaker/Kotlin-Bear/tree/master/Kotlin101Demo

[2019-06-06 12:36] Hritik14 commented on #118
Let me know if this has been scheduled for 8th June a day earlier.

[2019-06-18 14:50] sanshay commented on #107
Hey, Will you be able to take this talk on 22 june, saturday?

[2019-06-18 17:01] yogiboy opened #119 "Ernest DBAs sneak into System Admin's World"
**Abstract**
	Role of a database administrator is evolving, and expanding vertically(across platforms) as much as it is horizontally(across database flavours). This talk will be about how this mutually benefiting tryst(pun intended) is shaping between System administrators and Database administrators. We ll discuss tools and standards that DBAs are adapting to, while helping free-up time for syste

[2019-06-20 15:17] nk521 opened #120 ""बाएं से दाएं ऊपर से नीचे" : A python talk"
**Abstract**
    How python reads the code? How it runs the code?

**Expected Duration**
    60 minutes

**Track**
    Something in between Intermediate and Advanced

**Pre-requisite**
   Python 3.6+ basic understanding of class, functions, decorators, etc.

[2019-06-20 15:48] ajax711 opened #121 "Intro to NIX - The purely fucntional package manager"
**Abstract**

- How most package managers work
- Common problems and flaws in them
- How nix tries to solve some of those issues

**Expected Duration**
   30-40 minutes

**Track**
   	Intermediate

**Pre-requisite**
   	Install nix package manager on your existing distro or just install NixOS in a VM.

**Resources**
       https://nixos.org/nix/manual/#chap-package-management

**Slides**
       ht

[2019-06-20 18:14] #105 closed

[2019-06-20 18:15] #113 closed

[2019-06-20 20:36] ruchikabgosain opened #122 "UX/UI and Getting started with Vector Graphics art"
**Abstract**
	What UX/UI means for a lay-man and how to get a kick start in Vector Graphics.

**Expected Duration**
         30-40 minutes

**Track**
   	Greater than Beginner and Lesser than Intermediate

**Pre-requisite**
   	An interest in designing, and a basic sense of colors, gradients works!

**Resources**
    www.smashingmagazine.com/2009/03/10-principles-for-readable-web-typography/

**Sl

[2019-06-21 16:55] miphilomath opened #123 "Tic Tac Talk!"
**Abstract**
	~Provide~ A brief introduction about the talk.
The talk will be about talk, a meta talk.

**Expected Duration**
The duration ranges from 30 minute to 45 minute.

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner

**Pre-requisite**
   	Enlist here if there are any pre-requisite for attending the talk.

**Resources**
   Just analyze each talk, and rethink what

[2019-06-21 17:33] Aniket-Pradhan opened #124 "Make your first GitHub chat-bot."
**Abstract**
A hands-on session which will cover the following:
1. Introduction to webhooks
2. Handling the payload
3. Deploying the bot on Heroku

**Expected Duration**
30-40 minutes.

**Track**
Intermediate

**Pre-requisite**
Basic python, Git and a bit about REST APIs.

**Resources**
1. https://developer.github.com/webhooks/
2. https://devcenter.heroku.com/categories/python-support

**Slides**

[2019-06-22 16:46] miphilomath commented on #123
Since I forgot to conclude my Talk, here it is,

Learning to present is very important to share your knowledge with others for them to appreciate that knowledge and we all make mistakes. So, don't be afraid and share what you like to with us, without hesitation :)

Also, I am closing the issue, since the talk was delivered on June 22, 2019 at IGDTUW.

[2019-06-22 16:46] #123 closed

[2019-06-22 16:49] miphilomath commented on #120
The talk is delivered on June 22, 2019 at IGDTUW. Please share the link to slides of the talk here and close the issue

[2019-06-22 16:50] miphilomath commented on #122
The talk is delivered on June 22, 2019. Please share the link to slides and close the issue :)

[2019-06-22 17:11] ruchikabgosain commented on #122
hey @miphilomath thanks, done!

[2019-06-22 17:13] #122 closed

[2019-06-23 03:14] nk521 commented on #120
This whole session was a live coding session. So there are no slides.

[2019-06-23 03:14] #120 closed

[2019-06-23 08:19] Hritik14 commented on #118
I'm moving out of Delhi.

[2019-06-23 08:19] #118 closed

[2019-06-23 08:56] ajax711 commented on #121
Slides added!

[2019-06-23 08:56] #121 closed

[2019-06-23 09:32] ajax711 opened #125 "Request: Linux boot process in detail"

[2019-06-25 10:11] ajax711 opened #126 "Intro to Systemd : The most hated init system"
**Abstract**
- What is an init system
- Different init systems available
- History of systemd
- Managing processes with systemd
- Unit files
- Writing a basic unit file
- How systemd is a bit different from other major init systems
- Why is it hated by many.

**Expected Duration**
45 minutes to an hour.

**Track**
   	ILUG-D talks are divided into three tracks:
    	- Beginner

**Resources**
https

[2019-07-03 16:04] itsnikhil opened #127 "Presentation: Introduction to Extended Reality"
**Abstract**
    Extended Reality (XR) is coined term for Augmented Reality, Virtual Reality and Mixed Reality. It is an emerging field in Technology i.e. many people dont know the about the difference between them especially the technology used behind it. Also, cool things people have made and its different uses cases.

__Topics include__:
    1. History
    2. The definition and differences

[2019-07-06 17:55] miphilomath opened #128 "Contributing to FOSS and how git comes into picture!"
**Abstract**
This will be a non-technical talk, featuring:
* Brief history of open source culture and Linux
* Open Source culture and how it came into picture
* Skills required to start contributing to open source, technical and non-technical
* Ways to contribute to open source
* Brief journey of mine
* Lessons I learnt
* Why is git important and how it can help you to contribute.

**Expected Dura

[2019-07-07 07:18] Amanrazdan commented on #128
Can the telegram group link be shared again

[2019-07-07 07:35] miphilomath commented on #128
https://t.me/joinchat/AmwdvEAc48xN_P0xRaR_7Q

[2019-07-21 19:06] mridubhatnagar opened #129 "Introduction to Redis"
**Abstract**
	Provide a brief introduction about the talk.
    Also list the topics that the talk is going to cover.

**Expected Duration**
    Approximate duration of the talk.

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner
        - Intermediate
        - Advanced

**Pre-requisite**
   	Enlist here if there are any pre-requisite for attending the talk.

**Resources**

[2019-07-21 19:07] mridubhatnagar commented on #129
I'll update the issue with details soon.

[2019-07-22 18:00] prateekchachra opened #130 "Flutter for Beginners"
**Abstract**
The talk will help people get introduced to Flutter, which is the quickest way to create
a native application for Android/iOS possible.

**Expected Duration**
    30-40 minutes

**Track**
        - Intermediate

**Pre-requisite**
   	You should have a laptop to make the most out of the talk

**Resources**
Flutter's official website

**Slides**
    I will do it soon

---
### Note
Pleas

[2019-08-22 14:52] iayanpahwa opened #131 "Hello Computing - From Bare Metal Silicon to Kernel"
**Abstract**

- ISA of a processing unit
- Booting
- RESET
- Clock
- Privileges / Exceptions levels
- Memory
- I/O
- Porting an OS
- Kernel Modules
and much more...

**Expected Duration**

- 1+ hour

**Track**

- Advanced

**Pre-requisite**

Good to know but not required :

- Register level access
- Computing Unit Architectures (x86/64, ARM, PPC, RISC-V etc)
- In depth C Programming
- Assembly kno

[2019-08-22 17:18] utkarsh2102 commented on #131
Hello,
Kinda stupid but could we have a talk/workshop on/for the pre-requisites as well?

[2019-08-28 09:04] iayanpahwa commented on #131
@utkarsh2102 I'll touch upon the pre-requisites, during the talk itself. Come and Join :)

[2019-09-03 06:22] #131 closed

[2019-09-03 09:10] rajeevtpg opened #132 "RN Testing with Detox-JEST"
**Abstract**

- Brief on white box testing
- Intro to Jest
- Intro to Detox
- Best practices

**Expected Duration**
   30 minutes

**Track**
 - Intermediate

**Pre-requisite**
   	NPM and git on your machine

**Resources**
    [Detox](https://github.com/wix/Detox)

**Slides**
    Links to the slides.

---
### Note
Please do add/upload slides in pdf or an open document format.
People who are using

[2019-09-05 12:36] swarnimarun opened #133 "The Linux Filesystem : The World Where Everything is a File"
**Abstract**
	Brief and simple understanding of the basic concepts of the Linux Filesystem with emphasis on the practical implications of them.
        Starting with a brief introduction to Linux systems and CLI.
Moving towards the file system concepts involving it's use in Programming, Containers and Linux in general.

**Expected Duration**
    30 mins.

**Track**
    Complete Beginner to Interme

[2019-09-17 09:43] sourabhtk37 commented on #133
Great talk. More content could be fitted in, internals or case studies.

[2019-10-19 19:27] #79 closed

[2019-10-19 19:28] hellozee commented on #133
@sourabhtk37 :wink:

[2019-10-19 19:28] #133 closed

[2019-10-19 19:28] #128 closed

[2019-10-19 19:29] hellozee commented on #73
closing issue due to no response from the speaker, :)

[2019-10-19 19:29] #73 closed

[2019-10-19 19:32] hellozee commented on #132
Hmm, I think we have a couple of testing talks, one more talk in the list and we would surely have another testing oriented meetup , :D

[2019-10-19 19:33] hellozee commented on #130
And title doesn't really go with the level of difficulty mentioned in your proposal, :D
Also we would love some fun stuff with flutter, :3

[2019-10-19 19:35] hellozee commented on #127
Can you couple that up with some cool demos?

[2019-10-19 19:36] hellozee commented on #126
Sounds cool, do drop a message when you are available, :D

[2019-10-19 19:37] hellozee commented on #125
@alok760 seems like your thing, :D

[2019-10-19 19:38] itsnikhil commented on #127
I have some example of demos which i will talk about, if you want i can prepare some live demos

[2019-10-19 19:39] hellozee commented on #124
Workshops hmm, those are hard to schedule properly, but we do have another proposal on telegram bots, I think we can pair those up in a meetup.

[2019-10-19 19:43] hellozee commented on #119
An hour long talk, tough to accommodate any day, but the topic is sweet, surely looking forward to schedule it, :D

[2019-10-19 19:44] hellozee commented on #127
Would you be available for 16th or 17th November? If yes then please do go and show us some demos, :D

[2019-10-19 19:47] itsnikhil commented on #127
I have my majors starting from 21 Nov 2019, it would be great if you could schedule it a week early or so

[2019-10-20 04:23] yogiboy commented on #119
@hellozee, I am happy to cut some time. It had buffer built in. How about 40mins?

[2019-10-20 04:24] yogiboy commented on #119
Oh I clicked on close and comment by chance.

[2019-10-20 05:01] prateekchachra commented on #130
Haha the level of difficulty is because I'd atleast have the people be familiar with mobile dev

[2019-10-20 08:41] hellozee commented on #119
@yogiboy thats fine, anything around 40-45 mins, we would still give it an hour, just to be sure, we have time to catch up if we mess something, :D

[2019-10-20 08:42] hellozee commented on #127
@itsnikhil ouch, we are having our anniversary meetup on 2nd, so won't be able to schedule the next meetup within a week, anyway when are your majors finishing?

[2019-10-23 04:19] Aniket-Pradhan commented on #124
I was going to create a proposal for the same, but there was a proposal for the same before... So I went with the Github bot/app.

[2019-10-23 08:57] prateekchachra commented on #130
I'd love to present in the upcoming event.

[2019-10-23 19:49] hellozee commented on #130
@prateekchachra ohh, thats great, but the next event would be a anniversary meetup, so probably in the one after that

[2019-10-23 19:50] hellozee commented on #124
@Aniket-Pradhan cool, :D

[2019-10-25 18:55] itsnikhil commented on #127
My majors will be finishing on 5 December 2019

[2019-10-26 05:11] hellozee commented on #127
@itsnikhil thanks for informing, we would definitely schedule this up for a december meetup, :smile:

[2019-11-05 09:09] nk521 opened #134 "Playing games and playing with games"
**Abstract**
    Playing with games by changing either their obfuscated files or by reversing their source.

**Expected Duration**
    45-60 mins

**Track**
   	Intermediate

**Pre-requisite**
   	Knowledge of basic programming, math and an essence of low level assembly (x86)

**Resources**
    idk what to link here to be honest

**Slides**
    Links to the slides.

---
### Note
Please do add/uplo

[2019-11-11 15:20] brute4s99 commented on #102
"ping"

Would you be available to take up this session on 23rd of November, 2019? We are working on finalizing a venue right now. Please be active in the telegram channel of ILUGD and ping @brute4s99 there to confirm your availability.

[2019-11-11 15:20] brute4s99 commented on #101
"ping"

Would you be available to take up this session on 23rd of November, 2019? We are working on finalizing a venue right now. Please be active in the telegram channel of ILUGD and ping @brute4s99 there to confirm your availability.

[2019-11-11 15:21] brute4s99 commented on #130
"ping"

Would you be available to take up this session on 23rd of November, 2019? We are working on finalizing a venue right now. Please be active in the telegram channel of ILUGD and ping @brute4s99 there to confirm your availability.

[2019-11-11 15:22] brute4s99 commented on #129
"ping"

Please update the issue with more details so we consider this talk for any upcoming meetups. :-)

[2019-11-11 19:02] brute4s99 commented on #130
slight change: it's 24th November now.

[2019-11-11 19:02] brute4s99 commented on #102
slight change: it's 24th November now.

[2019-11-11 19:02] brute4s99 commented on #101
slight change: it's 24th November now.

[2019-11-12 01:52] vimalsheoran commented on #102
Hi, thank you for the opportunity. I am sorry to inform that I no longer
stay in the NCR.

Regards
Vimal Sheoran

On Tue, 12 Nov 2019, 00:32 Piyush Aggarwal, <notifications@github.com>
wrote:

[2019-11-12 14:46] brute4s99 commented on #102
no worries, @vimalsheoran !

Feel free to ping on the issue when you get back!

[2019-11-12 15:08] brute4s99 commented on #134
"ping"

Would you be available to take up this session on 24th of November, 2019? We are working on finalizing a venue right now. Please be active in the telegram channel of ILUGD and ping @brute4s99 there to confirm your availability.

[2019-11-12 19:47] nk521 opened #135 "Basics of Fuzzing"
**Abstract**
	Understanding what fuzzing is and how to write your own fuzzer.

**Expected Duration**
    60-90 minutes

**Track**
   	Advanced

**Pre-requisite**
   	Basic understanding of how a program works and knowledge of how to write programs.

**Resources**
    https://en.wikipedia.org/wiki/Fuzzing

**Slides**
    Links to the slides.

---
### Note
Please do add/upload slides in pdf or an op

[2019-11-19 11:33] rajudev opened #136 "Tracking Instances of Internet Shutdowns in India with "internetshutdowns.in""
**Abstract**
	Instances of Internet shutdowns in India, i.e. state imposed blanket bans on access to Internet services, either mobile or fixed line, are increasing at a worrisome pace. Internet is a key enabler of many fundamental rights, including freedom of speech and expression. Along with being a medium for communication, it has also been instrumental in flourishing the economy, expanding educ

[2019-11-21 17:55] nk521 commented on #134
I might not be attending any meetups after Nov

that's why I'm closing this issue.

[2019-11-25 09:36] #136 closed

[2019-11-25 09:37] #135 closed

[2019-11-25 09:40] miphilomath commented on #101
Blog Link for the talk: https://medium.com/@cosmologist10/apache-cassandra-finding-the-beauty-in-the-architecture-190af9ba632e
Slides: https://slides.com/shwetasuman/deck-5#/

[2019-12-01 18:32] nk521 commented on #107
Hey will you be able to take this workshop session on December 8th?

[2019-12-06 22:34] cvam0000 opened #137 "Introduction to system calls"
**Abstract**
	Basics of Process
        Basics of System calls
        User space
        Kernel space

**Expected Duration**
    45 mins

**Track**
        - Intermediate

**Pre-requisite**
        - Basics of OS
        - Basic Understanding of C
**Resources**
    Will update soon

[2019-12-10 07:14] iayanpahwa commented on #134
@nk521 please update link to slides.

[2019-12-16 09:43] #134 closed

[2019-12-18 18:54] jasmeet0915 opened #138 "Quantum Computing and its Future"
**Abstract**
Proposed Session For Discussion for Informal Meetup:

Gordon E. Moore, the co founder of Intel, proposed that the size of transistors would keep on reducing as the industry progresses every two years. Smaller transistors means smaller, faster and and more power saving computers. Today, transistors can be as small as 70 silicon atoms! But there is a limit to Moore's Law; to how small w

[2019-12-19 08:56] xeon-zolt opened #139 "Alpine Linux on Phone"
**Abstract**

- Go through of porting wiki of postmarket OS
- challenges in porting
- experience-sharing on how I partially completed it
- phone showcase for others to use about the feel of Linux on phone
- a small discussion about Linux for phones (we have yet the Desktop Linux war to win)
- talk about different Linux OS available for mobile phones

**Expected Duration**
    30 mins (can go a lit

[2020-01-13 10:01] #137 closed

[2020-01-25 15:29] gabru-md opened #140 "Apache Kafka for your Event-Driven Ecosystem"
**Abstract**
	This session will allow people to understand the importance of Apache Kafka and why Event-Driven systems are really important in the current age of computing and services. Apache Kafka still remains a software that is not widely known in the community. This session will try to get people familiarised with the "ins & outs" of Apache Kafka and how it can be employed in almost every Sof

[2020-01-31 05:44] rasponicc opened #141 "Generative art 101"
**Abstract**
	I will introduce basics of creative coding and generative art. Then we will proceed to do it hands on. At the end the members will be able to create stuff from generative mandalas to animations. (language to use will depend on attendees and their interest. Could be any of JavaScript, Processing or Python)
**Expected Duration**
    30 mins

**Track**
   	ILUG-D talks are divided intro

[2020-02-09 04:36] insaaniManav opened #142 "Underneath the GPIO pins"
**Abstract**
In this talk I am going to talk about what actually happens underneath  when we  type python commands using the gpio library and how do these pins actually work

**Expected Duration**
    between  45 mins to an hour

**Track**

        - Intermediate

**Pre-requisite**
   	//Enlist here if there are any pre-requisite for attending the talk.
        Will do that soon
**Resources**

[2020-02-10 17:27] iayanpahwa commented on #141
@rasponicc confirming the talk for coming Sunday

[2020-02-10 17:33] iayanpahwa opened #143 "Making a python powered Internet connected dope conference badge"
**Abstract**
	RGB LEDs, TFT display, Internet connected conference badge? YES PLEASE

**Expected Duration**
    45 mins

**Track**
   	ILUG-D talks are divided intro three tracks:
        - Intermediate

**Pre-requisite**
   	Enlist here if there are any pre-requisite for attending the talk.

**Resources**
    Links to resources related to the talk and from where one can
    read up on the same.

[2020-02-10 17:57] #143 closed

[2020-02-18 06:31] jasmeet0915 opened #144 "Making Pi Clusters & What to use them for"
**Abstract**
	 Raspberry Pi is often the first choice that comes to mind when building IOT based projects or projects applying intermediate machine learning and computer vision. I say 'intermediate' because machine learning and computer vision projects can be really CPU hungry tasks and a single Pi being a credit card sized computer may not be able to cope with that task. But its small size and ex

[2020-03-02 03:17] cvam0000 opened #145 "DIY conference Badge"
**Abstract**
	DIY conference Badge Using Arduino,
        LCD,LED Matrix ,Neo Pixels.

**Category**
        ShowNtell

**Track**
    	- Beginner

**Pre-requisite**
   	- Basic programming Knowledge of Arduino
          and programming in c

**Resources**
        http://ohmyarch.xyz/DIY/ConferenceBadge

[2020-03-02 14:12] insaaniManav opened #146 "Making arduinos talk"
**Abstract**
This talk is mainly going to cover communication protocols and methods for making two or more arduino boards talk

**Expected Duration**
     30-45 Mins

**Track**
   	ILUG-D talks are divided intro three tracks:

        - Intermediate

**Pre-requisite**
Basics of Arduino and communication protocols are recommended not neccessary
**Resources**
    Links to resources related to the ta

[2020-03-02 14:28] insaaniManav opened #147 "Making arduino Boards talk"
**Abstract**
	This talk is mainly going to cover communication protocols and how to make two arduino boards talk both by wired and wireless and wireless means

**Expected Duration**
    30-45 mins

**Track**

     ##   - Intermediate

**Pre-requisite**
  Basic Arduino programming and knowledge of communication protocols (recommended)

**Resources**
    Links to resources related to the talk and fr

[2020-03-02 14:29] insaaniManav opened #148 "Making arduinos talk"
**Abstract**
This talk is mainly going to cover communication protocols and methods for making two or more arduino boards talk

**Expected Duration**
     30-45 Mins

**Track**
   	ILUG-D talks are divided intro three tracks:

        - Intermediate

**Pre-requisite**
Basics of Arduino and communication protocols are recommended not neccessary
**Resources**
    Links to resources related to the ta

[2020-03-02 14:31] #148 closed

[2020-03-02 14:31] #146 closed

[2020-03-03 11:09] ADITYABALPANDE commented on #145
Can anyone tell how to construct UI using arduino uno

[2020-03-11 10:46] cocoa1231 commented on #105
Hello

Can I get a link to the slides?

[2020-03-17 18:57] nk521 commented on #105
@cocoa1231 I'll have to find them in backups. Will post the link here IF I find them. (Talking about slides and examples)

[2020-03-17 22:01] cocoa1231 commented on #105
Sure! Thanks!

[2020-03-27 18:56] iayanpahwa opened #149 "All about Drones and FPV Flying"
**Abstract**
Drone parts and AMA

**Expected Duration**
    1 hour

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner

**Pre-requisite**
   	Enlist here if there are any pre-requisite for attending the talk.

**Resources**
    Links to resources related to the talk and from where one can
    read up on the same.

**Slides**
    Links to the slides.

**Preferred Time and mo

[2020-03-27 18:56] iayanpahwa opened #150 "Python on Microcontroller : Online session"
**Abstract**
CircuitPython and MicroPython

**Expected Duration**
1 hour

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner

**Pre-requisite**
   	Enlist here if there are any pre-requisite for attending the talk.

**Resources**
    Links to resources related to the talk and from where one can
    read up on the same.

**Slides**
    Links to the slides.

**Preferred Time

[2020-03-29 11:15] rajudev opened #151 "Configuring Emacs from scratch"
![image](https://user-images.githubusercontent.com/2010120/77847631-41dd7e00-71dc-11ea-8812-607877d85456.png)

**Abstract**
	Getting started with Emacs can be a daunting task sometimes. Learning different keyboard shortcuts, learning how to do different tasks that you want in Emacs like file browsing, searching, etc. can be daunting to learn.
This will be a follow  along workshop wherein I would d

[2020-04-02 15:37] iayanpahwa commented on #144
@jasmeet0915 add slides please.

[2020-04-02 15:37] #144 closed

[2020-04-02 15:38] cvam0000 opened #152 "Introduction to ARM M4"
**Expected Duration**
   45 mins

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner

**Resources**
   coming soon...

**Slides**
   coming soon...

**Preferred Time and mode**
    online

[2020-04-02 15:38] iayanpahwa commented on #140
Hi @gabru-md can you present this talk online over a Jitsi call?

[2020-04-02 15:39] #141 closed

[2020-04-02 15:39] insaaniManav opened #153 "But what is a docker container"
**Abstract**
	Provide a brief introduction about the talk.
    Also list the topics that the talk is going to cover.

**Expected Duration**
30 - 45 mins

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner
        - Intermediate

**Pre-requisite**
       none

**Resources**
    Links to resources related to the talk and from where one can
    read up on the same.

**Slides**

[2020-04-02 15:40] iayanpahwa commented on #139
@xeon-zolt and @cvam0000 please sync and plan this talk for virtual meetup.

[2020-04-02 15:41] iayanpahwa opened #154 "Getting up and running with KiCad - Online"
**Abstract**
KiCad for schematic capture and PCB design

**Expected Duration**
1 hour

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner

**Pre-requisite**
Basics of circuit design

**Resources**
    Links to resources related to the talk and from where one can
    read up on the same.

**Slides**
    Links to the slides.

**Preferred Time and mode**
    Time(day/evening)

[2020-04-02 15:53] iayanpahwa commented on #127
Scheduled for Saturday, 4th April on Jitsi, 2100Hrs.

[2020-04-02 15:56] alok760 opened #155 "Introduction to Continuous Integration"
**Abstract**
	- CI/CD concepts
        - Introduction to various tools
        - setting up Jenkins
        - making a basic pipeline
        - *bonus* TravisCI ++

**Expected Duration**
    Approximate duration of the talk.
        - 1.5 hours

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner
        - Intermediate

**Pre-requisite**
   	Enlist here if there are any pre-

[2020-04-02 16:00] iayanpahwa commented on #140
@gabru-md , Scheduled for Saturday, 11th April @2100Hrs on Jitsi

[2020-04-02 16:01] iayanpahwa commented on #151
@rajudev  , Scheduled for Sunday, 12th April @1400Hrs on Jitsi

[2020-04-02 16:05] iayanpahwa commented on #147
Scheduled for Wednesday, 15th April at 2100Hrs.

[2020-04-02 16:14] rajudev opened #156 "Wordpress Site Building Tutorial"
**Abstract**
There have been very few to no talks/workshops on content management systems like Wordpress, Drupal, Joomla and similar. If someone can take a site building series on any of them. It would be really great.

**Expected Duration**
  Can be single or multiple series of talks or workshops

**Track**
Beginner to advanced.

[2020-04-02 16:38] rajudev commented on #155
we can do 2nd session after this one on `Continuous integration with Gitlab CI`

[2020-04-04 16:32] itsnikhil commented on #127
[xr.pdf](https://github.com/ILUGD/talks/files/4431934/xr.pdf)
Thank you for attending 💕

[2020-04-04 16:32] #127 closed

[2020-04-04 21:39] iayanpahwa commented on #126
@ajax711 wanna take online session on same?

[2020-04-06 12:17] #139 closed

[2020-04-07 16:39] miphilomath commented on #75
Hey @prabhatrhce, Will you be available for an online session in upcoming week?

[2020-04-07 16:40] miphilomath commented on #88
@radamar will you be available to take an online session in upcoming week?

[2020-04-07 16:53] itsnikhil opened #157 "WebApp performance auditing"
**Abstract**
	Similar to people skipping videos if it takes more than 10 seconds to load, website performance is also critical in terms of UX, accessibility, etc which is directly proportional to sales. In this talk I will be discussing various auditing tools available for measuring website speed performance and we'll discuss basic frontend optimizations.

**Expected Duration**
    Approximate dur

[2020-04-07 17:25] miphilomath commented on #89
The talk is scheduled on 19th April, 2020 at 2100 on Jitsi

[2020-04-08 11:28] AniVerma17 opened #158 "Git AMA session"
**Abstract**
- An interactive Q&A session on Git.
- Questions can go from the basic commands to advanced features or quirky tricks.

**Expected Duration**
    30 mins

**Track**
    	- Beginner
        - Intermediate
        - Advanced

**Pre-requisite**
- Basic understanding of Git

**Resources**
- [Git official documentation](https://git-scm.com/doc)
- [Git cheat sheet](https://education.github.

[2020-04-08 15:55] o-nly commented on #88
Hi, I am the author of the post. I had setup 2FA(2 factor authentication) on the author account and lost the 2FA device unfortunately.

yes :)

Thanks

[2020-04-10 09:39] vipulgupta2048 commented on #156
@thisisayush would you like to go for this?

[2020-04-10 12:17] miphilomath commented on #88
@o-nly

Great, when can we schedule the session? The session will be streamed on Jitsi and live streamed on Youtube. Here is the [calendar ][1] for the upcoming scheduled sessions. Please share the available date and time for the session. For available dates, please check the calendar.

[1]: https://calendar.google.com/calendar/embed?src=fnmnnmekvtfj986tse2il0al50%40group.calendar.google.com&ctz=A

[2020-04-10 14:33] thisisayush commented on #156
Sure, I would love to explain WordPress CMS and it's different uses, installation, optimization, etc.
Let's get over COVID first though.

[2020-04-10 15:33] vipulgupta2048 commented on #156
This is for an online meetup.
Why wait to get over Covid19?

Best,
Vipul Gupta
@vipulgupta2048

On Fri 10 Apr, 2020, 8:04 PM Ayush Agarwal, <notifications@github.com>
wrote:

[2020-04-10 16:34] o-nly commented on #88
9pm-10pm on 16th of this month looks good to me. Otherwise, if that is taken by the time, then 18th same time.

I'll try to send in the slides ahead of time.

Thanks :)

[2020-04-11 07:13] thisisayush commented on #156
We're having an online meetup? That's new. When is it happening? Let's see if I can do it then.

[2020-04-11 10:36] vipulgupta2048 commented on #156
Yes, ILuGD is doing all its meetups online for this. When would you be
free, meetup happens almost daily. So they can set it up when they want to.

On Sat, Apr 11, 2020 at 12:43 PM Ayush Agarwal <notifications@github.com>
wrote:

--
Best,
Vipul Gupta
Mixster <https://mixstersite.wordpress.com/> | Github
<https://github.com/vipulgupta2048>

[2020-04-11 14:44] miphilomath commented on #154
The talk has been delivered.

Link to the youtube recording for the talk: https://www.youtube.com/watch?v=hkDlTxaxgKE

[2020-04-11 14:44] #154 closed

[2020-04-11 16:30] thisisayush commented on #156
How about coming Saturday/Sunday (not tomorrow ofcourse)?

[2020-04-12 08:49] miphilomath commented on #88
We scheduled your talk on 18th April, 2020 at 9PM IST. Here is the calendar [link] to the virtual meetups we have planned. Please connect with us via GitHub, twitter or telegram to co-ordinate.

[1]: https://calendar.google.com/calendar/embed?src=fnmnnmekvtfj986tse2il0al50%40group.calendar.google.com&ctz=Asia%2FKolkata

Please share your slides and intro either here or on our telegram channel.

[2020-04-12 09:00] miphilomath commented on #140
The talk is delivered. Link to the YouTube recording [here][https://www.youtube.com/watch?v=bfB7eCThp_I]

[2020-04-12 09:00] #140 closed

[2020-04-12 10:03] miphilomath commented on #151
The workshop is delivered on Jitsi.
Link to YouTube Recording: https://www.youtube.com/watch?v=JxMWNmyY8Aw

[2020-04-12 10:03] #151 closed

[2020-04-13 04:48] taskmaster9001 commented on #95
please update the issue description, @mridubhatnagar

[2020-04-13 04:49] taskmaster9001 commented on #158
looking forward to the AMA session! ^_^

[2020-04-13 04:49] taskmaster9001 commented on #95
looking forward to the session! ^_^

[2020-04-13 18:51] o-nly commented on #88
I saw the schedule, thanks.

Roger that :)

[2020-04-14 15:48] Manas-kashyap opened #159 "Ansible Basic"
**Abstract**
In this session, I will cover the basic of CI & CD as well as which part Ansible help us with.
Topics would be:-
1) Jinja Templates
2) Ansible-playbook
3) Structure of roles and inventory files

**Expected Duration**
   1 hour

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner
        - Intermediate
        - Advanced

**Pre-requisite**
   	A smile and Zeal to

[2020-04-14 16:01] miphilomath commented on #158
Delivered on 13th April, 2020. Link to recording: https://www.youtube.com/watch?v=jFjngXh7yew

[2020-04-14 16:01] #158 closed

[2020-04-14 16:03] miphilomath commented on #95
Delivered on April 13, 2020. Link to youtube recording: https://www.youtube.com/watch?v=jFjngXh7yew

[2020-04-14 16:03] #95 closed

[2020-04-14 16:11] alok760 commented on #156
@thisisayush Thanks for taking this up. You can sync up your calendar with ours(bit.ly/ilugdhhccal) and pick up any date and time and let us know. :)

[2020-04-15 12:02] alok760 commented on #99
@iayanpahwa would you like to take this in an online virtual meetup?

[2020-04-15 14:39] thisisayush commented on #156
As per the calendar, the next available Sunday is 26th of April, Let's do it then :)

[2020-04-15 18:43] miphilomath commented on #156
Shall I schedule this talk with you as the speaker for 26th April at 2100 IST?

@thisisayush

[2020-04-16 09:44] thisisayush commented on #156
Can it be done at 2200 instead?

[2020-04-17 11:05] miphilomath commented on #88
Ping @o-nly. Can your share your contact details to get in touch with you? Or please get in touch with us on telegram or on our mailing list. http://frodo.hserus.net/mailman/listinfo/ilugd

[2020-04-17 11:10] miphilomath commented on #156
Yeah, sure. Scheduling it for 26th April, at 2200 IST.

[2020-04-17 11:24] miphilomath commented on #156
@thisisayush Can you create a new issue with the talk details?

[2020-04-17 11:25] miphilomath commented on #147
The talk is delivered on 15th April, 2020. Link to the recording, https://www.youtube.com/watch?v=0gcGlBG4jH0

[2020-04-17 11:25] #147 closed

[2020-04-18 18:43] o-nly commented on #88
slides.
[bootstrap.pdf](https://github.com/ILUGD/talks/files/4497379/bootstrap.pdf)

[2020-04-19 04:51] thisisayush commented on #156
@miphilomath Thanks. Sure will create an issue for the talk. Give me a day.

[2020-04-19 15:45] miphilomath commented on #88
Talk is delivered on April 18, 2020. Link to the recording: https://www.youtube.com/watch?v=_c0Ww42UQE0

[2020-04-19 15:45] #88 closed

[2020-04-19 16:34] miphilomath commented on #89
Delivered on April 19, 2020. Link to the recording: https://www.youtube.com/watch?v=1aV1uM64rk4

[2020-04-19 16:34] #89 closed

[2020-04-19 18:02] miphilomath commented on #159
Will you be available to deliver the session on 3rd May, 2020 online on Jitsi? @Manas-kashyap

[2020-04-19 18:04] miphilomath commented on #155
Will you be available to deliver the talk on 2rd May, 2020 @alok760?

[2020-04-19 18:29] swarnimarun opened #160 "Coding When Performance Matters"
**Abstract**
	All of us probably write code but how do you write code when performance matters. What do you do to make code actually fast. And answer questions like, "Do languages even matter?", "Caring about performance in JS is dumb?" and so on...

**Expected Duration**
    60 Minutes

~**Track**
        - Intermediate
        - Advanced~

**Track (edit)**
- Beginners
- Intermediate
Not as advan

[2020-04-19 18:31] AniVerma17 opened #161 "REST with peace : A generalized approach on RESTful APIs and web services"
**Abstract**
- This session talks about the REST architectural style in a detailed, unbiased and genaralized manner.
- Starting with the introduction to REST and its principles, it discusses how to design HTTP API endpoints in a RESTful style.
- And finishing with a bit of hands-on using cURL (CLI tool) and Postman.

**Expected Duration**
    45 mins - 1 hr

**Track**
    	- Beginner
        - Int

[2020-04-19 22:57] ajax711 opened #162 "LaTeX 101"
![image](https://user-images.githubusercontent.com/20740953/79702001-1ae80880-82bf-11ea-9df6-f365cd72f4b0.png)

[2020-04-20 05:38] Manas-kashyap commented on #159
Yes, I will be available for the session.

[2020-04-20 08:55] miphilomath commented on #159
Great. So scheduling the talk for 3rd May, 2020, 2100 IST.

[2020-04-20 09:41] alok760 commented on #155
Yes, you can schedule it.

[2020-04-21 11:40] thisisayush opened #163 "Developing with WordPress 101"
**Abstract**
	This talk will cover creating websites/blogs using the most popular CMS, WordPress. From wordpress.com to Self-Hosted version of WordPress, this talk will guide the participants on how they can set up and manage their own WordPress based website, without paying a penny to WordPress. What are the plugins, themes, and other basic WordPress concepts? It will also cover the basics of cPa

[2020-04-21 11:40] thisisayush commented on #163
@miphilomath

[2020-04-21 12:29] shubhtr opened #164 "Desktop Environments for Linux operating systems"
**Abstract**
This talk will cover various desktop environments that are available for Linux-based operating systems. It will briefly go over the history, basic installation steps and customization of some of the most popular DEs used today.

**Expected Duration**
30 minutes

**Track**
Beginner

**Pre-requisite**
None

**Resources**

**Slides**
[soon]

**Preferred Time and mode**
Time: day
Mode: on

[2020-04-22 08:27] miphilomath commented on #163
Thanks for taking that up. Since Pydata Delhi has talks scheduled on 26th, we need to reschedule the talk. Can we schedule it on 29th or 30th April?

[2020-04-22 08:27] #156 closed

[2020-04-22 12:15] thisisayush commented on #163
Is the next Saturday/Sunday available instead?

[2020-04-23 08:14] miphilomath commented on #163
Scheduling it for next Saturday, 9th May, 2020 at 2100 IST.

[2020-04-23 12:33] shubhamkakkar opened #165 "Push Notifications with FCM "v6+""
**Abstract**
A lot of react-native users face issues while ensuring push notifications, both local and remote with FCM V6, it requires more than a few StackOverflow and GitHub issues to find the required solution. So, let's code and sort the solution, we developers do that the better way, "we code and talk"

Topics:
- React Native Firebase Setup v6.+
- Local And Remote Notification handling using

[2020-04-24 17:41] JainStuti25 commented on #165
Intrested

[2020-04-25 16:29] GypsyCosmonaut opened #166 "Bash From Scratch"
Abstract

Bash from scratch

About

Would be covering all aspects of Bash

Pre-requisites

Just you laptop with Linux on it (be it in a virtual machine like vmware or virtualbox or on bare metal)

Level

All Levels

Resources

man bash;

Speaker Bio

DevOps Engineer at Knowlarity

[2020-04-25 16:44] GypsyCosmonaut opened #167 "Vim | Tmux Intro"
Abstract

Vim | Tmux Intro

About

Introduction to Vim and Tmux

Pre-requisites

Just you laptop with Linux on it (be it in a virtual machine like vmware or virtualbox or on bare metal)

Level

Beginner

Speaker Bio

DevOps Engineer at Knowlarity

[2020-04-25 17:15] nk521 opened #168 "Inkscape for total beginners"
**Abstract**
    Vector art but with a opensource tool called [Inkscape](https://inkscape.org/)

**Expected Duration**
    60 minutes

**Track**
    Beginner

**Pre-requisite**
    _None_

**Resources**
    https://www.inkscape.org

**Slides**
    Links to the slides.

**Preferred Time and mode**
    Online

**Previous Experience**
    I'm a full time graphic designer :D

---
### Note
Please do ad

[2020-04-25 17:32] miphilomath commented on #166
Hey @GypsyCosmonaut, Thanks for proposing the talk on bash. Can you please share little more details for attendees, such as the topics covered and prerequisites for attending?

Once you update, please share your availability for the talk. Please check our calendar to know about the available dates, https://calendar.google.com/calendar/embed?src=fnmnnmekvtfj986tse2il0al50%40group.calendar.google.co

[2020-04-25 17:32] miphilomath commented on #167
Hey @GypsyCosmonaut, Thanks for proposing the talk on Vim and Tmux. Can you please share little more details for attendees, such as the topics covered and prerequisites for attending?

Once you update, please share your availability for the talk. Please check our calendar to know about the available dates, https://calendar.google.com/calendar/embed?src=fnmnnmekvtfj986tse2il0al50%40group.calendar.g

[2020-04-25 17:34] miphilomath commented on #168
Hey @GypsyCosmonaut, Thanks for proposing the talk on Inkscape. I am looking forward to the talk.

Can you please share little more details for attendees, such as the topics covered in the session?

Once you update, please share your availability for the talk. Please check our calendar to know about the available dates, https://calendar.google.com/calendar/embed?src=fnmnnmekvtfj986tse2il0al50%40gr

[2020-04-25 17:37] miphilomath commented on #155
Great, scheduled it, check the calendar here, https://calendar.google.com/calendar/embed?src=fnmnnmekvtfj986tse2il0al50%40group.calendar.google.com&ctz=Asia%2FKolkata

[2020-04-25 17:40] miphilomath commented on #138
Hey @jasmeet0915 , Thanks for proposing the talk on Quantum Computing.

Please share your availability for the talk so that we can schedule it. Please check our calendar to know about the available dates, https://calendar.google.com/calendar/embed?src=fnmnnmekvtfj986tse2il0al50%40group.calendar.google.com&ctz=Asia%2FKolkata

[2020-04-25 17:42] miphilomath commented on #152
Hey @cvam0000 , Thanks for proposing the talk on such an interesting topic. Can you please share little more details for attendees, such as the topics covered and prerequisites for attending?

Once you update, please share your availability for the talk. Please check our calendar to know about the available dates, https://calendar.google.com/calendar/embed?src=fnmnnmekvtfj986tse2il0al50%40group.ca

[2020-04-25 17:45] miphilomath commented on #150
Hey @iayanpahwa , Thanks for proposing the talk on such an interesting topic. Can you please share little more details for attendees, such as the topics covered and prerequisites for attending?

Once you update, please share your availability for the talk. Please check our calendar to know about the available dates, https://calendar.google.com/calendar/embed?src=fnmnnmekvtfj986tse2il0al50%40group.

[2020-04-25 17:47] miphilomath commented on #149
Hey @iayanpahwa , Thanks for proposing the talk on such an interesting topic. Can you please share little more details for attendees, such as the topics covered and prerequisites for attending?

Once you update, please share your availability for the talk. Please check our calendar to know about the available dates, https://calendar.google.com/calendar/embed?src=fnmnnmekvtfj986tse2il0al50%40group.

[2020-04-25 18:02] GypsyCosmonaut commented on #167
I would be covering basics of using Vim, Tmux, automating tasks with Tmux
Purpose of the talk is to make people feel more comfortable using Vim and Tmux to improve their workflows.

As per calendar, I can take 10/16 May for the talk

[2020-04-25 18:02] GypsyCosmonaut commented on #166
@miphilomath , I would be using Bash version 5.0.3, people can make sure they are using at least this version or later.
Also I would expect people to have some prior experience with Linux, because this talk is not about basics of Linux, but about learning and advancing in Bash
As for topics, I would be going over topics straight from the man page of Bash

As per calendar, I can take 10/16 May for

[2020-04-25 21:26] swarnimarun commented on #160
#### Topics to be covered:
- Computer systems and their basic design
- Understanding performance and how to test it, setting up microbenchmarks and analysis tools.
- Understanding the scalability of hardware and software performance.
- Learning about some Data Structures that can help increase performance by omission or by use. And explaining what each should be used for with some real-world examp

[2020-04-26 18:40] miphilomath commented on #166
Cool, so scheduling it for 10th May, 2100 IST, works?

[2020-04-26 18:41] miphilomath commented on #167
How about 16th May 2100 IST?

[2020-04-27 12:57] GypsyCosmonaut commented on #166
Fine

[2020-04-27 12:57] GypsyCosmonaut commented on #167
Fine

[2020-04-27 18:50] vipulgupta2048 opened #169 "Let's talk soft skills! The edge you need to stay ahead of the competition"
**Abstract**
@cvam0000 @grlwholifts and @vipulgupta2048 will be sharing their views in a sort of panel discussion + webinar type of meetup where we share tips and tricks of improving on your Linkedin profile

To be completed. Just saving it for further edits and better followup. Probably not this topic. Can we brainstorm over what would people like to hear the most about?

**Expected Duration**
45

[2020-04-28 07:57] nk521 commented on #168
More details :
- Understanding what vector art really is.
- Understanding what inkscape has to offer
  - basic tools
  - mastering bezier pen
  - using path functions
  - other misc things (grouping, clipping, etc.)
  -
- couple of design examples which people can follow

[2020-04-28 15:57] nk521 commented on #162
Please follow the issue template. I'll close this for now.

[2020-04-28 15:57] #162 closed

[2020-04-28 16:16] theSage21 opened #171 "SoWrong: Absurd ways to do perfectly normal things in python"
**Abstract**

Doing common things in a roundabout and strange way.
- API servers using only for loops
- Running sql in python without custom model classes / raw strings
- Long running jobs without having celery etc

**Expected Duration**

 30 minutes

**Track**
- Intermediate

**Pre-requisite**
You should know basic python.

**Resources**

- [slides](https://docs.google.com/presentation/d/e/2PACX-

[2020-04-28 16:38] miphilomath commented on #101
Hello @cosmologist10, will you be available to take the session again for our virtual meetup sessions anytime soon after 16th May, 2020?
We would love to host you again on Jitsi, and like to record the session for the future.

Please check our calendar to know about the available dates, https://calendar.google.com/calendar/embed?src=fnmnnmekvtfj986tse2il0al50%40group.calendar.google.com&ctz=Asia%2

[2020-04-28 17:14] iayanpahwa commented on #171
This sounds like a really interesting talk, looking forward to it. Let us know what help you need :)

[2020-04-28 17:20] iayanpahwa commented on #169
@miphilomath we decided Wednesdays for non-tech sessions, so we can schedule it next Wednesday at 2100Hrs IST, Is it fine by you? @vipulgupta2048

[2020-04-28 17:24] iayanpahwa opened #172 "Mentor Sessions - Hardware AMA"
**Abstract**
Planning to do an experimental Mentor session / AMA where folks can ask about
- Hardware design
- Chip design
- Microcontrollers
- Power supply design
- Toolchain/cross-compilation
- Architectures
- MicroArchitectures / Organisation
- Bare metal programming
- OS based system
- Porting
- Bootloaders
- Single board computers
- Digital Signal processors
- How IoT , ML and Blockchain are

[2020-04-28 17:26] vipulgupta2048 commented on #169
This wednesday? Just confirming :see_no_evil:

[2020-04-28 17:30] iayanpahwa commented on #169
No No, 6th May :)

[2020-04-29 03:51] theSage21 commented on #171
I put that there in case there's something I need to do to present this. Maybe slides have to be in a special sharable format or something. Otherwise the talk is set.

[2020-04-29 09:47] cosmologist10 commented on #101
Hi, @miphilomath I won't be available during that time. Thanks for considering.

[2020-05-02 11:15] miphilomath commented on #153
Hey @insaaniManav , Thanks for proposing the talk. Can you please share little more details for attendees, such as the topics covered and prerequisites for attending?

Once you update, please share your availability for the talk. Please check our calendar to know about the available dates, https://calendar.google.com/calendar/embed?src=fnmnnmekvtfj986tse2il0al50%40group.calendar.google.com&ctz=Asi

[2020-05-02 11:15] miphilomath commented on #142
Hey @insaaniManav , Thanks for proposing the talk. Can you please share little more details for attendees, such as the topics covered and prerequisites for attending?

Once you update, please share your availability for the talk. Please check our calendar to know about the available dates, https://calendar.google.com/calendar/embed?src=fnmnnmekvtfj986tse2il0al50%40group.calendar.google.com&ctz=Asi

[2020-05-02 11:20] insaaniManav commented on #153
hey @miphilomath thanks for reaching out.
This  talk will mainly cover what a docker container is, why do we need it, setting up your first container, working with containers and working in containers.

Basics of the Linux command line would be helpful but not completely necessary  as a prerequisite

[2020-05-02 15:40] miphilomath commented on #101
No worries. Let us know when you are available in future and please propose talk then :)

[2020-05-02 15:40] #101 closed

[2020-05-02 15:46] miphilomath commented on #169
Hi @vipulgupta2048, thanks for proposing the panel discussion. Since we are scheduled for the next 2 weeks, will you be available for the panel discussion on 20th May, 2020?

Please check the available dates on our calendar here, https://calendar.google.com/calendar/embed?src=fnmnnmekvtfj986tse2il0al50%40group.calendar.google.com&ctz=Asia%2FKolkata

cc: @cvam0000 @grlwholifts

[2020-05-02 16:07] insaaniManav commented on #142
Hey @miphilomath thanks for reaching out ,
I am sorry but  It looks like this page was not updated recently
This talk has already been given on raspi jam 2020 in February :D

[2020-05-02 16:08] insaaniManav commented on #142
Also I will update the slides here very soon. Sorry for the delay

[2020-05-02 16:38] miphilomath commented on #155
Delivered on 2nd May, 2020. Link to the recording, https://www.youtube.com/watch?v=qzYT-YG3IBs

@alok760 Can you please update the issue with your slides?

[2020-05-03 07:49] mridubhatnagar opened #173 "[Request] - Python with Hardware"
**Abstract**
	A comprehensive talk on possibilities of using python with raspberry pi, microbit, circuit python, etc. Answering the following questions plus everything else that would help a newbie to get started.
-  Available hardware boards?
- Pre-requisites for learning how to use python with hardware?
- Possible cool project ideas that can be developed?
- Difference between circuit python, mic

[2020-05-03 23:39] iayanpahwa commented on #173
Thanks for proposing, just gonna add few suggestions for the speaker :

- Different ways of interacting with H/w using Python
- Simulators, for those who don't have boards
- Board recommendations
- Limitations with Python on H/w

[2020-05-04 10:02] miphilomath commented on #159
Delivered on 3rd May, 2020. Link to recording, https://www.youtube.com/watch?v=3E8YWNkt5G8

@Manas-kashyap Can you please update the issue with the slides?

[2020-05-04 10:17] miphilomath commented on #153
Can you please share your availability on when can you take up the session? How about 23rd May?

[2020-05-04 10:39] miphilomath commented on #153
Update: Availability confirmed on Telegram

[2020-05-06 17:09] swarnimarun commented on #160
Slides: https://docs.google.com/presentation/d/1ntm8t4P7ViXOuCcph-1--o3fqMF3RsyNrmzGyaFJEzk/edit?usp=sharing

[2020-05-07 12:33] cvam0000 commented on #152
little busy these days will do asap
thankyou

[2020-05-09 13:35] thisisayush commented on #163
Added Slides Link in the description.

[2020-05-09 14:32] #160 closed

[2020-05-09 14:34] miphilomath commented on #160
Talk delivered on May 6, 2020. Link to the recording, https://www.youtube.com/watch?v=jc6foD_8FRo

[2020-05-09 17:52] miphilomath commented on #163
Delivered on May 9, 2020. Link to the recording, https://www.youtube.com/watch?v=Hj6dj-Ncl8s

[2020-05-09 17:52] #163 closed

[2020-05-10 14:30] GypsyCosmonaut commented on #167
It's Hands-On

[2020-05-10 14:30] GypsyCosmonaut commented on #166
It's Hands-On

[2020-05-13 11:16] #166 closed

[2020-05-17 17:25] hellozee commented on #98
Attaching the slides (uses libreoffice impress) and the source code that I showed, :smile:
[cpp talk.tar.gz](https://github.com/ILUGD/talks/files/4640668/cpp.talk.tar.gz)

[2020-05-17 17:25] #98 closed

[2020-05-17 22:16] miphilomath commented on #167
Delivered on 16th May, 2020. Link to the recording, https://www.youtube.com/watch?v=ISeBdd8orDg

[2020-05-17 22:16] #167 closed

[2020-05-17 22:17] miphilomath commented on #166
Link to recording: https://www.youtube.com/watch?v=-xD1_ay-NyM

[2020-05-17 22:19] miphilomath commented on #168
Delivered on May 13, 2020. Link to recording, https://www.youtube.com/watch?v=kE9n0q2GJgg

[2020-05-17 22:19] #168 closed

[2020-05-17 22:19] #159 closed

[2020-05-17 22:20] #155 closed

[2020-05-17 22:21] #142 closed

[2020-05-24 09:32] theSage21 opened #174 "Chaos theory basics with Python"
**Abstract**

An introduction to chaos and the Mandelbrot set using Python.

- what is meant by chaos?
- building the classic bifurcation graph
- Mandelbrot set basics
- Mandelbrot with color
- Mandelbrot in 3d

**Expected Duration**

40 minutes

**Track**

Intermediate

**Pre-requisite**

Basic Python or basic programming knowledge in any language

**Resources**

https://github.com/theSage21/mand

[2020-06-10 15:35] xeon-zolt commented on #174
lets keep it on saturday at 9pm
@miphilomath can you share with me the todo of scheduling it

[2020-06-10 15:36] xeon-zolt commented on #172
when can we have it ?

[2020-06-10 15:43] xeon-zolt commented on #165
when can we schedule it? on 20th or 21st June

[2020-06-10 15:43] xeon-zolt commented on #165
@miphilomath

[2020-06-10 15:45] xeon-zolt commented on #164
when can we schedule it?
can you provide contact details?

[2020-06-10 15:46] xeon-zolt commented on #150
can we have it on 27th or 28th june

[2020-06-10 15:47] xeon-zolt commented on #152
can we have it on 27th or 28th June?

[2020-06-10 15:52] xeon-zolt commented on #169
@vipulgupta2048 when can we schedule it?

[2020-06-10 20:27] vipulgupta2048 commented on #169
Can do this week.
What about you all @cvam0000 @grlwholifts

[2020-06-12 02:57] insaaniManav commented on #174
The  same has  been  scheduled in the calendar

[2020-06-12 02:58] insaaniManav commented on #169
Does sunday work ?

[2020-06-12 17:45] grlwholifts commented on #169
Monday onwards!

[2020-06-13 20:20] iayanpahwa commented on #172
Any Saturday

[2020-06-13 20:20] iayanpahwa commented on #150
27th works

[2020-06-14 11:48] nikit19 opened #176 "Intro to Jetpack Compose"
**Abstract**
Jetpack Compose simplifies and accelerates UI development on Android. In this talk we will understand how can we get started with Jetpack Compose and how different components  in Jetpack Compose works.

**Expected Duration**
30 minutes
**Track**
    	- Beginner

**Pre-requisite**
   	Basics of Kotlin or Android development

**Resources**
    [Official docs](https://developer.android.c

[2020-06-14 16:03] xeon-zolt commented on #176
@nikit19 sheduled for 28th June (Sunday)
I will discuss about timings once they are decided.

[2020-06-20 22:34] vipulgupta2048 commented on #169
Works anyday for me

[2020-06-21 04:54] insaaniManav commented on #169
@grlwholifts @cvam0000 will you guys be available ?

[2020-06-23 05:30] xeon-zolt commented on #174
@theSage21 can you add resource like blog or slides you used

[2020-06-23 05:30] #174 closed, assigned to nobody

[2020-06-23 05:53] theSage21 commented on #174
I added stuff to the repo for this talk. https://github.com/theSage21/mandle

[2020-06-24 06:05] grlwholifts commented on #169
I will be available from Tuesday next week!

[2020-07-24 16:18] theSage21 opened #177 "A walk through lambda calculus"
**Abstract**

- This talk was originally done by David Beazley.
- We could do a workshop series on this with 1 hour a day for 3 days.
- We start with defining True/False as functions and then slowly building our way up to the Y combinator.

**Expected Duration**

3-4 hours

**Track**
   	ILUG-D talks are divided intro three tracks:
        - Intermediate

**Pre-requisite**

You should know python

[2020-07-24 16:33] kishore-ganesh opened #178 "A look into emulators"
**Abstract**

The talk is basically going to look behind what emulators are, the different kinds of emulation (high level and low level), and what goes into a typical emulator.

Topics:

1. What is an emulator?
2. A refresher: a high level look at how a CPU works
3. What is high level emulation, and what is low level emulation
4. High level units of an emulator
5. How various parts of a system's i

[2020-08-06 08:34] #176 closed, assigned to nobody

[2020-08-06 08:35] #171 closed

[2020-08-06 08:37] xeon-zolt commented on #161
@AniVerma17 when can we schedule it?

[2020-08-06 11:36] AniVerma17 commented on #161
I would be available next weekend for the talk. What say?

[2020-08-06 13:06] xeon-zolt commented on #161
cool let's schedule it after the Friday quiz

[2020-08-06 18:40] AniVerma17 commented on #161
No, not the coming weekend. I meant the weekend of the next week.

[2020-08-29 17:13] xeon-zolt commented on #178
http://youtu.be/DwWGPswFTQc

[2020-08-30 16:48] xeon-zolt commented on #178
@kishore-ganesh if you can add your slides and other links discussed during the talk

[2020-08-30 17:25] kishore-ganesh commented on #178
Link to slides: [bit.ly/emulatorstalk-kishoreganesh](url)
Other Links:
Reverse Engineering the MOS 6502: [https://bit.ly/3jtSIBL](url)
Visual6502: [https://bit.ly/3lHiXGW](url)
One man's quest to build accurate SNES Emulator: [https://bit.ly/31Hb3p1](url)
Reverse emulating the NES: [https://bit.ly/2ESu3HS](url)

[2020-09-15 16:38] theSage21 commented on #177
https://www.youtube.com/watch?v=pkCLMl0e_0k

[2020-09-15 16:42] theSage21 commented on #129
@mridubhatnagar when would you be available for this talk?

ref: https://github.com/ILUGD/MOM/blob/master/2020/15-September-2020.md

[2020-09-18 08:57] mridubhatnagar commented on #129
Hey, I won't be able to pull this off till the next couple of months. I no more work with Redis. Back when I had proposed this I was exploring Redis. I'll comment here whenever I am ready.

[2020-09-25 17:16] #178 closed, assigned to nobody

[2020-09-25 17:16] #161 closed

[2020-09-25 17:18] xeon-zolt commented on #177
when can we have this ?

[2020-09-25 17:26] theSage21 commented on #177
Whenever you want. I'll need one weekend day before the scheduled date to prepare the talk.

Last time this was discussed we figured that we'll reduce it to one hour.

[2020-12-01 06:51] insaaniManav opened #179 "Self hosting and Moving away from proprietary SaaSS"
**Abstract**
This talk is going to be about self hosting and moving away from proprietary SaaSS

**Expected Duration**
    45

**Track**
    - Beginner

**Pre-requisite**
        None
**Resources**

**Slides**
Coming soon
**Preferred Time and mode**
    evening / Online

**Previous Experience**
Have given a couple of talks before
**Contact info**
@insaanimanav on Telegram and @insaanimanav:matrix.

[2021-03-06 07:54] iayanpahwa commented on #179
Talk has been successfully delivered. Recoding can be found here --> https://youtu.be/upTUbArXwGg

Closing this issue, cc : @rachejazz

[2021-03-06 07:54] #179 closed, assigned to nobody

[2021-03-06 09:06] rachejazz commented on #179
@iayanpahwa i hope the other opened ones aren't delivered yet.

[2021-03-06 09:09] rachejazz commented on #177
@theSage21 hey! How about we have this coming weekend? You can have Sunday as a prep day
If your talk has been delivered, do notify :)

[2021-03-06 11:41] theSage21 commented on #177
@rachejazz Sadly I don't think I'll have the time to pick this up any time soon. I'm closing out this issue due to this reason.

[2021-03-06 11:41] #177 closed, assigned to nobody

[2021-03-06 15:55] rachejazz commented on #63
@hellozee can we have this during our next conf?
Lovely topic imo. Will reopen if it's a yes

[2021-03-06 15:57] Hritik14 commented on #63
Sure. Though the soul of the talk lies in interacting with the hardware and nearby network. Hosting it online would be very tough.

[2021-03-06 16:00] rachejazz commented on #63
Ah no worries then. Sometime later then!

[2021-03-08 11:56] insaaniManav commented on #179
If we are having a series of talks I would like to request for this talk to be conducted again since the youtube recording is not good. Sometimes my video gets frozen , Sometimes you can't see my PPT etc.

[2021-08-04 16:40] mfrw opened #180 "eBPF introduction"
**Abstract**
	Introduction to eBPF

**Expected Duration**
    30-45 mins

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner

**Pre-requisite**
   	Basic understanding of linux.

**Resources**
https://ebpf.io/

**Slides**
    N/A

**Preferred Time and mode**
    Evening/Online

**Previous Experience**
    Yep, i have given some talks in the LUG.

**Contact info**
    twitte

[2021-08-04 17:01] mfrw opened #181 "Introduction to GoLang"
**Abstract**
	A very high level introduction to Go

**Expected Duration**
    30-45mins

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner

**Pre-requisite**
   	Basics of programming

**Resources**
    https://gobyexample.com/

**Slides**
    N/A

**Preferred Time and mode**
    Evening/Online

**Previous Experience**
    Yes.

**Contact info**
    twitter.com/vimfrw

**C

[2021-08-04 17:03] iayanpahwa commented on #181
Scheduled this talk for 14th August 2021

Recording and Streaming and Uploading - @chiragshukhla
Host - @iayanpahwa
Poster / thumbnail - @nk521
SPAM - mill baat ke

[2021-08-04 17:05] insaaniManav opened #182 "Women in tech and what ails them ?"
**Abstract**
	This talk is going to be about Women in tech , We see a lot of diversity programmes these days but have they really managed to bridge this gap ? I am going to hence talk about women in tech and how we can help boost this even further.

**Expected Duration**
30 -45

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner

**Pre-requisite**
   	Enlist here if there a

[2021-08-04 17:07] iayanpahwa opened #183 "AMA Request : Data Privacy laws in India and things to keep in mind as a netizen"
@AniVerma17 @nk521

**Abstract**
	Provide a brief introduction about the talk.
    Also list the topics that the talk is going to cover.

**Expected Duration**
    Approximate duration of the talk.

**Track**
   	ILUG-D talks are divided intro three tracks:
    	- Beginner
        - Intermediate
        - Advanced

**Pre-requisite**
   	Enlist here if there are any pre-requisite for attending the

[2021-08-04 17:52] AniVerma17 commented on #183
@nk521 can you ask in your contacts to see if someone among them can give their time to conduct this session?

[2021-08-10 13:09] ChiragSukhala commented on #181
Sukhala!

[2021-08-18 11:58] ApurvaS16 commented on #183
Hi Ayan, happy to help with data privacy laws.

[2021-08-18 13:54] iayanpahwa commented on #183
That’s great @ApurvaS16 , we’re thinking of a short session on Data Privacy laws in India, around the world, followed by a Ask-Me-Anything interactive session. Let me know your thoughts :)

[2021-08-18 18:37] AniVerma17 commented on #183
@ApurvaS16 do open an issue here for the session if you intend to take it. I guess we can then schedule it for the next month.

[2021-08-22 19:54] ChiragSukhala commented on #181
Change label to done, close the issue. @iayanpahwa

[2021-08-22 19:56] iayanpahwa commented on #181
@ChiragSukhala add links to slides and video first

[2021-09-01 06:13] mfrw commented on #181
Repository for slides/code: https://github.com/mfrw/talks/tree/master/golang-intro
Please install `present` tool from `golang.org/x/tools/cmd/present` to view.

Question: Do i need to upload PDF ? (i can do that as well)

[2021-09-01 06:37] iayanpahwa commented on #181
@mfrw it would be great to have a pdf version

[2021-09-01 06:42] mfrw commented on #181
Unfortunately conversion to pdf is a little ugly (apologies in advance)
[golang-intro.pdf](https://github.com/ILUGD/talks/files/7088825/golang-intro.pdf)

[2021-09-03 12:40] nk521 commented on #181
This session is uploaded on YouTube - https://www.youtube.com/watch?v=5RyOlixS2tQ

[2021-09-03 12:40] #181 closed, assigned to nobody

[2021-09-18 06:37] AniVerma17 commented on #183
@ApurvaS16 when are you available to take this session? We'll schedule it accordingly.

[2021-09-18 07:36] iayanpahwa commented on #82
Re-opening as this talk is being requested .

cc- @xeon-zolt , @miphilomath

[2021-09-18 07:37] xeon-zolt commented on #82
Ye hamara ke office me bhi di thi na

[2021-09-18 08:09] iayanpahwa commented on #82
@xeon-zolt right

[2021-09-18 15:04] ApurvaS16 commented on #183
Hey Animesh, how about tomorrow at 12 PM? Can we jump on a call to discuss
the modalities of the session?

On Sat, Sep 18, 2021, 12:07 Animesh Verma ***@***.***> wrote:

[2021-09-18 15:16] ApurvaS16 commented on #183
P.S.- Raju, Ayan and Nikhil have my contact number.

On Sat, Sep 18, 2021, 20:33 Apurva Singh ***@***.***> wrote:

[2021-09-18 18:37] AniVerma17 commented on #183
Not possible at 12 PM, but I'll be available after 7 PM. How about then?

[2021-09-19 03:36] ApurvaS16 commented on #183
Alright!

To clarify, we're jumping on a call at 7 or having the session at 7?

On Sun, Sep 19, 2021, 00:07 Animesh Verma ***@***.***> wrote:

[2021-09-19 08:26] AniVerma17 commented on #183
Just for the call to discuss about the modalities of the session. After that, we'll schedule the session as per your availability.

[2021-09-23 13:34] AniVerma17 commented on #183
Okay, scheduling this session on **October 9, 2021** at **2100 hrs IST**.

[2021-09-23 13:53] iayanpahwa commented on #183
@AniVerma17 @xeon-zolt @miphilomath let’s add this to ILUG-D shared calendar

[2021-09-23 19:04] AniVerma17 commented on #183
@iayanpahwa yeah, add this.

[2021-09-24 14:14] iayanpahwa commented on #183
Done - https://calendar.google.com/event?action=TEMPLATE&tmeid=MmhtNXEyNm9qOWZuYmRtZGk3OXNiZjVhcW8gZm5tbm5tZWt2dGZqOTg2dHNlMmlsMGFsNTBAZw&tmsrc=fnmnnmekvtfj986tse2il0al50%40group.calendar.google.com

[2022-02-22 15:58] #183 closed, assigned to nobody

[2022-05-28 06:42] AniVerma17 commented on #180
@mfrw are you available to deliver this talk on June 5?

[2022-05-28 07:34] mfrw commented on #180
If we are okay with an online talk, yep I can :)

[2022-06-07 16:56] AniVerma17 commented on #180
@mfrw available for this on June 11?

[2022-06-08 03:32] mfrw commented on #180
Yep .. June 11 works :)
Please do let me know the schedule though :)

[2022-11-06 14:56] miphilomath commented on #182
The talk is very subjective and seems like a better title for a panel discussion or lightning talk.

[2022-11-06 14:59] miphilomath commented on #180
@mfrw Will you be available online or offline for this talk anytime in the future. Offline talk is preferred, though we can schedule an online session as well for this talk.

[2022-11-06 15:01] miphilomath commented on #172
@iayanpahwa Are you still available for the talk? We can schedule this talk for our December, 2022 or January, 2023 meetup

[2022-11-06 15:11] miphilomath commented on #165
@shubhamkakkar Are you still available for this talk?

[2022-11-06 15:14] miphilomath commented on #164
@shubhtr Please let us know if you are still available for the talk.

[2022-11-06 15:15] miphilomath commented on #157
@itsnikhil Are you still available for the talk?

[2022-11-07 07:21] miphilomath commented on #169
Closing the issue after acknowledging with @cvam0000

[2022-11-07 07:21] #169 closed

[2022-11-16 07:10] gaurav-gogia opened #185 "Trapping Adversaries in the WAF of their Journey"
**Abstract**
Threat hunting, firewall deployment, and configuring those firewalls according to threat feeds needs to be a tight loop. However, coordinating between different teams while handling multiple high priority tickets can be cumbersome. A more proactive approach towards understanding of adversary behaviour can be achieved through deception tech. In this session we’ll learn about web applic

[2022-11-16 17:10] imhemish opened #186 "l10n and i18n, with special emphasis on Indian languages and GNOME"
**Abstract**
	Translation is an essential comonents of software world. People using the software are from around the world, not only English-knowing people. So software needs to be localised to make it accessible to multitude of people. I am going to explain the basics of translation in software projects, I would also give specific importance to gnome translations (because that is what I translate

[2022-11-21 15:57] pulsar17 opened #187 "Bash 101: 🐚"
**Abstract**
This will be an introduction to Bash - the *bourne again shell*. I will try to cover the following topics:
- What is a shell?
- A little bit of history about shells
- Bash as the default shell on most distributions
- Some useful tips and tricks that I've gathered over time

**Expected Duration**
    30 mins

**Track**
    	- Beginner

**Pre-requisite**
   	Curiosity :)

**Resources**

[2022-11-29 09:03] miphilomath commented on #187
@pulsar17 Can we schedule this talk for our January'2023 meetup?

[2022-11-29 09:21] miphilomath opened #188 "Operating system: The driver of your computer"
**Abstract**
	The talk unveils the mystery of computers and how operating system gives the life to an otherwise lifeless hardware communicating only with 0s and 1s. The talk will cover the following topics.
	* What's an operating system
	* Why do our computer need an operating system and if we can work without one?
	* The process of booting up a computer and importance of each step
	* Live demonst

[2022-11-30 11:05] pulsar17 commented on #187
Sure @miphilomath